<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="row">
                    <div class="col-md-6 footer-menu-container">
                        {% menu "footer_menu" site_map_name='footer menu' flow="vertical" no_wrapper="true" overrideable="false"%}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 footer-logo-container">
                <div class="inner-wrapper">
                    <div class="footer-logo-container">
                        <a href="/">
                            <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/footer-logo.png"  alt="Edison Partners footer logo"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 social-super-container newsletter-container">
                <div class="inner-wrapper">
                    <h5>SIGNUP FOR OUR BLOG</h5>
                    <div class="newsletter-signup-container">
                        <!--[if lte IE 8]>
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                        <![endif]-->
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <!--script>
                          hbspt.forms.create({ 
                            portalId: '394660',
                            formId: '1847e128-acaf-4092-aff7-3447bbfe37e3'
                          });
                        </script-->
                        <script>
                          hbspt.forms.create({ 
                            portalId: '394660',
                            formId: 'b3f9bfa2-0930-4c15-ba96-1d396cf0dc15'
                          });
                        </script>

                    </div>
                    <div class="social-container">
                        <a href="https://twitter.com/edisonventure" target="_blank">
                            <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/twitter.png" alt="twitter icon" />
                        </a>
                        <a href="https://www.facebook.com/EdisonPartners" target="_blank">
                            <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/fb.png" alt="facebook icon" />
                        </a>
                        <a href="https://www.linkedin.com/company/edison-ventures-?trk=company_logo" target="_blank">
                            <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/in.png" alt="linkedin icon" />
                        </a>
                        <a href="https://www.youtube.com/channel/UCD2F1lsJpd7VGHgBLZAMfeA" target="_blank">
                            <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/yt.png" alt="youtube icon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


  	

  {{ standard_footer_includes }}


  
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>  
    
    <script src="//npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="//unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>   
    
    
    
    <script src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/parallax/parallax.min.js"></script>

    
    

    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/bootstrapValidator.min.js"></script>	
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/jquery.sticky.js"></script>	
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/jquery.flexisel.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/jquery.prettyPhoto.js" ></script>   
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/wow.min.js"></script>	
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/effect.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/jquery.smoothscroll.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/rssb.min.js"></script>
    <script type="text/javascript" src="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    
    <script type="text/javascript" src="{{ get_public_template_url("custom/page/garfield/custom-scripts.js") }}"></script>
    <script type="text/javascript" src="{{ get_public_template_url("custom/page/garfield/custom-scripts-beta.js") }}"></script>
</body>
</html>
{{ standard_header_includes }}