{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}



<section class="port-hero parallax" style="background:url({% image_src "hero_image_src" label="hero image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/port-hero.jpg" no_wrapper="true" %});background-size:cover;">
    <div class="bg-overlay" style="background:{% color "bg-overlay" label='Choose a color', color='#5395A4', no_wrapper=True %};opacity: 0.8;"></div>
    <div class="valign-content">
        <div class="valign-inner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="text-align:center;color:white;">
                            {% text "port43a0" label="title" value="VERY IMPORTANT" no_wrapper="true" %}
                        </h5>
                        <h2 style="text-align:center;color:white;">{% text "port43a3" label="subtitle" value="PORTFOLIO" no_wrapper="true" %}</h2>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:50px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        {% widget_block rich_text "port43a" overrideable="true" no_wrapper="true" label="portfolio content"  %}
                            {% widget_attribute "html" %}
                                <p style="color:white;text-align:center;">
                                    Edison drives innovation across financial services technology, healthcare IT, marketing tech and enterprise solutions. We're national leaders in fintech investing. We've helped healthcare solution providers grow since before the category existed. And we've partnered with more than 100 emerging leaders reinventing how people do business and marketing.
                                </p>
                            {% end_widget_attribute %}
                        {% end_widget_block %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix" style="margin-top:30px;"></div>
<div class="">
    <div class="port-filters-inner-wrapper">
        <div class="main-port-filters">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=":not('.exited')">ACTIVE</li>
                <li data-filter=".exited">EXITED</li>
                <li class="industry-toggle-wrap">
                    <span class="industry-toggle">BY INDUSTRY</span>
                    <div class="port-sub-filters-container">
                        <ul class="sub-filter">
                            <li data-filter=".fin-tech">FINANCIAL TECHNOLOGY</li>
                            <li data-filter=".healthcare-it">HEALTHCARE IT</li>
                            <li data-filter=".enterprise-2">ENTERPRISE SOLUTIONS</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</div>
<div class="clearfix" style="margin-top:30px;"></div>

<section class="port-iso-container">
    <div class="container">
        <div class="row">
            
            <div class="isotope-container-with-filters port-iso">
                {% widget_container "company_portfolio_flex" label="portfolio gallery" no_wrapper="true" %}
                    
                {% end_widget_container %}
            </div>
        </div>
        <div class="clearfix" style="margin-top:75px;"></div>
    </div>
</section>








{% include "custom/page/garfield/footer.html" %}


