{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}



<section class="port-hero parallax" style="background:url({% image_src "hero_image_src" label="hero image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/port-hero.jpg" no_wrapper="true" %});background-size:cover;">
    <div class="bg-overlay" style="background:{% color "bg-overlay" label='Choose a color', color='#5395A4', no_wrapper=True %};opacity: 0.8;"></div>
    <div class="valign-content">
        <div class="valign-inner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="text-align:center;color:white;">
                            {% text "edge43a0" label="title" value="SALES & MARKETING" no_wrapper="true" %}
                        </h5>
                        <h2 style="text-align:center;color:white;">
                            {% text "edge43a1" label="subtitle" value="ACCELERATION" no_wrapper="true" %}
                        </h2>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:50px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        {% widget_block rich_text "edge43a" overrideable="true" no_wrapper="true" label="advantedge content"  %}
                            {% widget_attribute "html" %}
                                <p style="color:white;text-align:center;">
                                    End-to-end, systematic approach to go-to-market strategy and execution, organizational design, and architecting scalable marketing machines that deliver the differentiated products, market presence and strong pipelines.
                                </p>
                            {% end_widget_attribute %}
                        {% end_widget_block %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="fancy fit">
                    <span style="text-transform:uppercase;">
                        {% text "edgea43a2" label="section 1 title" value="50+ Proven Playbooks for establishing & optimizing best practices" no_wrapper="true" %}
                    </span>
                </h5>
                <div class="clearfix" style="margin-top:40px;"></div>
                <div>
                    {% widget_block rich_text "edge4aw" overrideable="true" no_wrapper="true" label="advantedge content"  %}
                        {% widget_attribute "html" %}
                            <ul>
                                <li>Strategy</li>
                                <li>Position</li>
                                <li>Planning</li>
                                <li>Funnel Ops</li>
                                <li>Org Design</li>
                                <li>Program Execution</li>
                                <li>Technology</li>
                            </ul>
                        {% end_widget_attribute %}
                    {% end_widget_block %}
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>


<section class="advedge-vendors" style="background:#ebebeb;">
    <div class="container">
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            <div class="col-md-12">
                <h4 style="color:black;text-align:center;">{% text "edge4323a0" label="title" value="PREFERRED VENDORS" no_wrapper="true" %}</h4>
            </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            {% widget_container "advedge_logos" label="logo gallery" no_wrapper="true" %}
                
            {% end_widget_container %}
        </div>
    </div>
</section>








<section class="port-hero parallax" style="background:url({% image_src "hero2_image_src" label="hero image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/port-hero.jpg" no_wrapper="true" %});background-size:cover;">
    <div class="bg-overlay" style="background:{% color "bg-overlay-2" label='Choose a color', color='#5395A4', no_wrapper=True %};opacity: 0.8;"></div>
    <div class="valign-content">
        <div class="valign-inner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="text-align:center;color:white;">
                            {% text "edge432a0" label="title" value="SALES & MARKETING" no_wrapper="true" %}
                        </h5>
                        <h2 style="text-align:center;color:white;">
                            {% text "edge432a1" label="subtitle" value="ACCELERATION" no_wrapper="true" %}
                        </h2>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:50px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        {% widget_block rich_text "edge243a" overrideable="true" no_wrapper="true" label="advantedge content"  %}
                            {% widget_attribute "html" %}
                                <p style="color:white;text-align:center;">
                                    End-to-end, systematic approach to go-to-market strategy and execution, organizational design, and architecting scalable marketing machines that deliver the differentiated products, market presence and strong pipelines.
                                </p>
                            {% end_widget_attribute %}
                        {% end_widget_block %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            <div class="col-md-12">
                
                <div class="clearfix" style="margin-top:40px;"></div>
                <div>
                    {% widget_block rich_text "edge24aw" overrideable="true" no_wrapper="true" label="advantedge content"  %}
                        {% widget_attribute "html" %}
                            <ul>
                                <li>Strategy</li>
                                <li>Position</li>
                                <li>Planning</li>
                                <li>Funnel Ops</li>
                                <li>Org Design</li>
                                <li>Program Execution</li>
                                <li>Technology</li>
                            </ul>
                        {% end_widget_attribute %}
                    {% end_widget_block %}
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>


<section class="advedge-vendors" style="background:#ebebeb;">
    <div class="container">
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            <div class="col-md-12">
                <h4 style="color:black;text-align:center;">{% text "edge24323a0" label="title" value="PREFERRED VENDORS" no_wrapper="true" %}</h4>
            </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            {% widget_container "advedge2_logos" label="logo gallery" no_wrapper="true" %}
                
            {% end_widget_container %}
        </div>
    </div>
</section>



            {% widget_container "advedge_bottom_callout" label="bottom callout container" no_wrapper="true" %}
                
            {% end_widget_container %}



{% include "custom/page/garfield/footer.html" %}


