{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}


{% choice "quote_section" label='Quote/Video Section' value='both', choices='quote only,video only,both,none' export_to_template_context="true" %}


{% boolean "story_toggle" label='show story section' value="true" no_wrapper="true" export_to_template_context="true" %}
{% if widget_data.story_toggle.value == false %}
    <style>.company-story-container{display:none!important;}</style>
{% endif %}
{% if widget_data.quote_section.value == 'none' %}
    <style>.company-callout-container{display:none!important;}</style>
{% endif %}
<section class="company-profile-container">
    <div class="clearfix" style="margin-top:150px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;margin-top:60px;margin-bottom:60px;">
                    <img src="{% image_src "company_logo" 
                                    label="company logo" 
                                    src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/folio.jpg" 
                                    no_wrapper="true" %}" />
                </div>
                <div class="company-description">
                    {% widget_block rich_text "company_description" overrideable="true" no_wrapper="true" label="company description"  %}
                        {% widget_attribute "html" %}
                            <p>
                                FolioDynamix provides technology and services to companies in the Wealth Management market including large brokerage firms, RIAs, asset managers and banks. The company's software provides front, middle and back office integration as well the capability to manage Mutual Fund Wrap, Separately Managed Accounts and Unified Managed Accounts in a single offering.
                            </p>
                        {% end_widget_attribute %}
                    {% end_widget_block %}
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="clearfix" style=""></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="isotope-container">
                    {% widget_container "company_image_flex_1" label="image gallery" no_wrapper="true" %}
                    
                    {% end_widget_container %}
                </div>
            </div>
        </div>
        <div class="clearfix" style=""></div>
    </div>
</section>

{% image "background_image" label='Select a background image', 
src='http://cdn2.hubspot.net/hubfs/394660/garfield-assets/images/EthosHeader.jpg', 
export_to_template_context=True %}

<section class="company-callout-container">
    <div class="bg-image" style="background:url({{ widget_data.background_image.src }});"></div>
      <div class="bg-overlay" style="background:rgba(68,68,68,0.9);"></div>
    <div class="container">
        <div class="clearfix" style="margin-top:75px;"></div>
        <div class="row">
            {% if widget_data.quote_section.value == 'both' %}
            <div class="col-md-6 company-quote">
            {% endif %}
            {% if widget_data.quote_section.value == 'quote only' %}
            <div class="col-md-12 company-quote quote-only">
            {% endif %}
            {% if widget_data.quote_section.value == 'video only' %}
            <div class="col-md-12 company-quote" style="display:none;">
            {% endif %}
                {% widget_block rich_text "company_quote" overrideable="true" no_wrapper="true" label="company quote"  %}
                    {% widget_attribute "html" %}
                        <p>
                        It's not just about capital... Edison focuses heavily on delivering value to the business itself.
                        </p>
                        <h5 style="color:white;">
                        <br />
                        Lane Roberts, Managing Partner
                        </h5>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
            {% if widget_data.quote_section.value == 'both' %}
            <div class="col-md-6">
            {% endif %}
            {% if widget_data.quote_section.value == 'video only' %}
            <div class="col-md-6 col-md-offset-3">
            {% endif %}
            {% if widget_data.quote_section.value == 'quote only' %}
            <div class="col-md-12" style="display:none;">
            {% endif %}
                <div class="clearfix" style="margin-top:75px;"></div>
                <div style="text-align:center;">
                   <div class="hs-responsive-embed hs-responsive-embed-youtube">
                    {% textarea "company_embed" 
                                label='Video Embed' 
                                value='<iframe width="440" height="280" src="https://www.youtube.com/embed/ptYx7prE2PY" frameborder="0" allowfullscreen></iframe>'
                                no_wrapper="true" %}
                   </div>                   
                    <div class="clearfix" style="margin-top:15px;"></div>
                    <p class="video-description">
                    {% textarea "company_embed_video_description" 
                                label='Video Description' 
                                value='20 Years in 20 Seconds of FolioDynamix- a short history of nearly everything.'
                                no_wrapper="true" %}
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-top:75px;"></div>
    </div>
</section>


<section class="company-edison-team-container">
    <div class="container">
        <div class="row">
            <div class="clearfix" style="margin-top:65px;"></div>
            <div class="col-md-12">
                <h5 class="fancy">
                    <span>
                        {% text "company_team_title" label="team title" value="THE EDISON TEAM" no_wrapper="true" %}
                    </span>
                </h5>
            </div>
            <div class="clearfix" style="margin-top:65px;"></div>
            {% widget_container "company_team_container" label="edison team" no_wrapper="true" %}
            
            {% end_widget_container %}
        
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>



<section class="company-story-container">
    <div class="container">
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="col-md-12">
            <h5 class="fancy">
                <span>
                    {% text "company_story_title" label="story title" value="THE STORY" no_wrapper="true" %}
                </span>
            </h5>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="clearfix"></div>
                <div class="left-col-content">
                    {% widget_block rich_text "company_story_left" overrideable="true" no_wrapper="true" label="company story left"  %}
                        {% widget_attribute "html" %}
                            <p>
                                <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/iso1.png" />
                            </p>
                            <p>
                                <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/iso6.png" />
                            </p>
                        {% end_widget_attribute %}
                    {% end_widget_block %}
                </div>
            </div>
            <div class="col-md-8">
                    {% widget_block rich_text "company_story_right" overrideable="true" no_wrapper="true" label="company story right"  %}
                        {% widget_attribute "html" %}
                            <p>
                                <strong>2001 -</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod imperdiet enim, imperdiet interdum elit imp    erdiet a. 
                            </p>
                            <p>
                                <strong>2008 -</strong>  Edison makes initial investment
                            </p>
                            <p>
                                <strong>2009 -</strong>  Edison makes follow-on investment
                            </p>
                            <p>
                                <strong>2010 -</strong>  Edison recruited CFO, Mark Herman, from prior Edison Portfolio company. Also recruited CTO, Mark Davis
                            </p>
                            <p>
                                <strong>$17M -</strong>  In 2011, FolioDynamix raises Series B in the amount of $17M from Edison and ABS Capital 
                            </p>
                            <p>
                                <strong>$30M -</strong>  FolioDynamix secures $30M contract in 2012. Edison provides support and diligence
                            </p>
                            <p>
                                <strong>$73.5M -</strong>  In 2014, Edison fully exits FolioDynamix generating $73.5M in exit proceeds, 6.4X return with 37% IRR on its investment
                            </p>
                        {% end_widget_attribute %}
                    {% end_widget_block %}
           </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>


<section style="background:#f05926;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align:center;color:white;letter-spacing:7px;margin-top:12px;">
                    <a target="_blank" style="color:white;" href="
                        {% text "company_url_link" 
                            no_wrapper="true"
                            label="Enter the company url" 
                            value="http://foliodynamics.com" %}">{% text "company_url_display_text" 
                                                                    no_wrapper="true"
                                                                    label="Enter the company url as a display" value="FOLIODYNAMICS.COM" %}</a>
                </p>
            </div>
        </div>
    </div>
</section>


{% include "custom/page/garfield/footer.html" %}


