{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}

{% boolean "edn_toggle" label='Is this the EDN page?' value="True" no_wrapper="true" export_to_template_context="True" %}

<section class="team-header-container">
    <div class="container">
        <div class="clearfix" style="margin-top:150px;"></div>
        <div class="row">
            <div class="col-md-12">
                {% widget_block rich_text "team_header" overrideable="true" label="header" no_wrapper="true"  %}
                    {% widget_attribute "html" %}
                        <h1>ENTOURAGE</h1>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
        </div>
        <div class="clearfix" style="margin-top:40px;"></div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% widget_block rich_text "team_description" overrideable="true" label="description" no_wrapper="true"  %}
                    {% widget_attribute "html" %}
                        <p style="text-align:center;">
                        When you join the Edison Partners portfolio, we hand-pick a team to work with you based not only on their experience, but their networks - and their networks? networks. Giving you access to a who's who of industry leaders and power players, ready and raring to grow your business.
                        </p>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
        </div>
        <div class="clearfix" style="margin-top:40px;"></div>
    </div>
</section>

<section class="team-numbers-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="fancy">
                    <span>
                        {% text "team_fancy_title" label="title" value="BY THE NUMBERS" no_wrapper="true" %}
                    </span>
                </h5>
            </div>
        </div>
        <div class="clearfix" style="margin-top:45px;"></div>
        <div class="row attributes">
            <div class="col-md-3">
                {% widget_block rich_text "team_1a_attr" overrideable="true" label="attribute 1" no_wrapper="true"  %}
                    {% widget_attribute "html" %}
                        <p style="text-align:center;"><strong>30 Years</strong><br/>of Teamwork &amp; Success</p>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
            <div class="col-md-3">
                {% widget_block rich_text "team_1b_attr" overrideable="true" label="attribute 1" no_wrapper="true"  %}
                    {% widget_attribute "html" %}
                        <p style="text-align:center;"><strong>202</strong><br/>Initial Investments</p>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
            <div class="col-md-3">
                {% widget_block rich_text "team_1c_attr" overrideable="true" label="attribute 1" no_wrapper="true"  %}
                    {% widget_attribute "html" %}
                        <p style="text-align:center;"><strong>58</strong><br/>Successful Exits</p>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
            <div class="col-md-3">
                {% widget_block rich_text "team_1d_attr" overrideable="true" label="attribute 1" no_wrapper="true"  %}
                    {% widget_attribute "html" %}
                        <p style="text-align:center;"><strong>240 Years</strong><br/>Investment Experience</p>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin-top:110px;"></div>
</section>


    <div class="team-filters-inner-wrapper">
    
        <div class="team-filters">
            <ul>
            
                {% unless widget_data.edn_toggle.value %}
                    <li class="active" data-filter="*">All</li>
                    <li class="industry-toggle-wrap">
                        <span class="industry-toggle sub-menu-toggle">BY INDUSTRY</span>
                        <div class="port-sub-filters-container">
                            <ul class="sub-filter">
                                <li data-filter=".financial-technology">Financial Technology</li>
                                <li data-filter=".healthcare-it">Healthcare IT</li>
                                <li data-filter=".enterprise">Enterprise Solutions</li>
                            </ul>
                        </div>
                    </li>
                {% endunless %}
                {% if widget_data.edn_toggle.value %}
                    <li class="active" data-filter="*">All</li>
                    <li class="industry-toggle-wrap">
                        <span class="location-toggle sub-menu-toggle" data-submenu="#locations-sub">Location</span>
                        
                    </li>
                    <li class="industry-toggle-wrap">
                        <span class="functional-toggle sub-menu-toggle" data-submenu="#functional-sub">functional expertise</span>
                        
                    </li>
                    <li class="industry-toggle-wrap">
                        <span class="industry-toggle sub-menu-toggle" data-submenu="#industry-sub">BY INDUSTRY</span>
                    </li>
                {% endif %}
            </ul>
            {% if widget_data.edn_toggle.value %}
            <div id="locations-sub" class="port-sub-filters-container">
                <ul class="sub-filter">
                    <li data-filter=".northeast">northeast</li>
                    <li data-filter=".mid-atlantic">mid-atlantic</li>
                    <li data-filter=".midwest">midwest</li>
                    <li data-filter=".southeast">southeast</li>
                </ul>
            </div>
            <div id="functional-sub" class="port-sub-filters-container">
                <ul class="sub-filter">
                    <li data-filter=".ceo">ceo</li>
                    <li data-filter=".marketing">marketing</li>
                    <li data-filter=".sales">sales</li>
                    <li data-filter=".finance">finance</li>
                    <li data-filter=".operations">operations</li>
                </ul>
            </div>
            <div id="industry-sub" class="port-sub-filters-container">
                <ul class="sub-filter">
                    <li data-filter=".financial-technology">Financial Technology</li>
                    <li data-filter=".healthcare-it">Healthcare IT</li>
                    <li data-filter=".enterprise">Enterprise Solutions</li>
                </ul>
            </div>
             {% endif %}
        </div>
    </div>


<section>
    <div class="container">
        <div class="row">
            <div class="isotope-container-with-filters team-iso">

                    {% widget_container "team_flex_1" label="team members" no_wrapper="true" %}
                    
                    {% end_widget_container %}
                    <div class="clearfix" style="margin-top:150px;"></div>
            </div>
        </div>
    </div>
</section>
{% widget_container "bottom_callout_flex_1" label="bottom callout" no_wrapper="true" %}

{% end_widget_container %}


{% include "custom/page/garfield/footer.html" %}


