{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}
{% set rec_posts = blog_recent_posts('default', 1) %}




<section class="fullscreen-wrapper-with-full-height-children edge-header no-fit-mobile" style="background: url({% image_src "edge_0a" label="background image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/Edison_EDGE.jpg" no_wrapper="true" %});background-size:cover !important;">

    <div class="fullscreen-wrapper-child col-md-6 no-fit-mobile left-side">
    <div class="bg-overlay" style="background:{% color "bg-overlay" label='Choose a color, left side', color='#364906', no_wrapper=True %};opacity: 0.8;"></div>
    <div class="valign-content">
      <div class="valign-inner-wrapper">
            {% widget_block rich_text "edge_1a" overrideable="true" label="left column" no_wrapper="true"  %}
                {% widget_attribute "html" %}
                    <img src="//www.edisonpartners.com/hubfs/garfield-assets/images/edison-edge-triangle.png?t=1474918273493" width="auto">
                {% end_widget_attribute %}
            {% end_widget_block %}
      </div>
    </div>
    </div>
    <div class="fullscreen-wrapper-child col-md-6 content-container no-fit-mobile right-side">
      <div class="bg-overlay" style="background:{% color "bg-overlay-2" label='Choose a color, right side', color='#364906', no_wrapper=True %};opacity: 0.8;"></div>
        <div class="valign-content">
            <div class="valign-inner-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        {% widget_block rich_text "edge_1b" overrideable="true" label="right column" no_wrapper="true"  %}
                            {% widget_attribute "html" %}
                                  <p>
                                    It's a holistic approach to accelerating business growth that goes far beyond funding. Edison Partners nurtures invention and not only with growth stage capital, but also with strategic advisory, an activated director network, and a comprehensive portfolio of industry and functional executive development programs.
                                  </p>
                                  <p>
                                  Think of us as your most engaged board member, lending deep industry and operating expertise to help you craft the future of your business. And have a ton of fun along the way.
                                  </p>
                            {% end_widget_attribute %}
                        {% end_widget_block %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="edge-explore-menu-container float-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="clearfix" style="margin-top:65px;"></div>
                <h5 class="fancy">
                    <span>
                        {% text "edge_1c" label="fancy title" value="EXPLORE THE EDGE" no_wrapper="true" %}
                    </span>
                </h5>
                <div class="clearfix" style="margin-top:30px;"></div>
            </div>
        </div>
        <div class="row">
          <nav class="edge-menu">
            <ul>
              <li class="first"><a href="#operating-leveredge">
                {% text "edge_1d" label="button" value="operating leveredge" no_wrapper="true" %}
              </a></li>
              <li class="second"><a href="#edison-director-network">
                {% text "edge_1e" label="button" value="edison director network" no_wrapper="true" %}
              </a></li>
              <li class="third"><a href="#education-enlightment">
                {% text "edge_1f" label="button" value="education & enlightment" no_wrapper="true" %}
              </a></li>
            </ul>
          </nav>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>
<section id="operating-leveredge" class="float-md">
  <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="text-align:center;margin-bottom: 2rem;"><p>{% text "edge_1h" label="Operating Leverage intro" value="Our team works with yours - executive to executive, operator to operator - to devise, validate and optimize strategies and disciplines that help you grow a more valuable and scalable business." no_wrapper="true" %}</p></div>
    </div>
    <div class="row">
      <div class="col-md-6">
            {% widget_block rich_text "edge_1g" overrideable="true" label="left column" no_wrapper="true"  %}
                {% widget_attribute "html" %}
                    <img src="//www.edisonpartners.com/hubfs/garfield-assets/images/operating-leveredge-bg.jpg" width="auto">
                {% end_widget_attribute %}
            {% end_widget_block %}
      </div>
      <div class="col-md-6 content-container">
        <h5> {% text "edge_1h" label="button" value="OPERATING LEVERAGE" no_wrapper="true" %}</h5>
        <div class="content">
            {% widget_block rich_text "edge_1j" overrideable="true" label="content 1" no_wrapper="true"  %}
                {% widget_attribute "html" %}
                  <h6>Sales &amp; Marketing</h6>
                  <p>End-to-end, systematic approach to go-to-market strategy and execution, organizational design, and architecting scalable marketing machines that deliver the differentiated products, market presence and strong pipelines.</p>
                  <a href="">READ MORE&nbsp;&nbsp;></a>
                {% end_widget_attribute %}
            {% end_widget_block %}
        </div>
        <div class="clearfix" style="margin-top:30px;"></div>
        <div class="content">
            {% widget_block rich_text "edge_1k" overrideable="true" label="content 2" no_wrapper="true"  %}
                {% widget_attribute "html" %}
                        <h6>Financial Planning &amp; Analysis</h6>
                      <p>End-to-end, systematic approach to go-to-market strategy and execution, organizational design, and architecting scalable marketing machines that deliver the differentiated products, market presence and strong pipelines.</p>
                      <a href="">READ MORE&nbsp;&nbsp;></a>
                {% end_widget_attribute %}
            {% end_widget_block %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="edison-director-network" class="float-md">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5>{% text "edge_1l" label="title" value="EDISON DIRECTOR NETWORK" no_wrapper="true" %}</h5>
      </div>
      <div class="col-sm-8 subhead">
            {% widget_block rich_text "edge_1m" overrideable="true" label="sub title" no_wrapper="true"  %}
                {% widget_attribute "html" %}
                    <p>The Edison Director Network (EDN) brings the power of C-level operational expertise to Edison portfolio companies in the form of board director, mentor or consultant.</p>
                {% end_widget_attribute %}
            {% end_widget_block %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
                <div class="isotope-container" style="margin-top:65px;">
                    {% widget_container "edge_093" label="team gallery" no_wrapper="true" %}
                    
                    {% end_widget_container %}
                </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 view-all">
        <a href="/edison-director-network">VIEW ALL&nbsp;&nbsp;></a>
      </div>
    </div>
    <div class="clearfix" style="margin-top:65px;"></div>
    
    <div class="row ">
        <div class="col-md-12">
                    <div class="quote">
            <p>{% text "edge_quote" label="quote" value="We couldn't have grown if we didn't have a sales organization. Through the Edison network, we were able to find a new head of sales and have an instant-on sales organization where 4 out of the top 5 reps - brand new to the company - hit or exceeded their quota year one. It doesn't normally happen. John Joseph - CSO, CompanyName" no_wrapper="true" %}</p>
        </div>

        </div>
    </div>
  </div>
</section>

<section id="education-enlightment" class="float-md">
  <div class="container">
    <div class="row">
      <div class="col-md-6 content-container first">
        <h5>{% text "edge_1p" label="title" value="education & enlightment" no_wrapper="true" %}</h5>
        <div class="content">
            {% widget_block rich_text "edge_1q" overrideable="true" label="content" no_wrapper="true"  %}
                {% widget_attribute "html" %}
                      <p>Comprehensive portfolio of industry, functional and director development events, promoting actionable learning and activating the Edison network. Peer executive events range in size from 25-person roundtables to summits with 100+ in attendance, and include speakers from within the Edison network, as well as other industry and academic thought leaders.</p>
                      <a href="">VIEW ALL&nbsp;&nbsp;></a>
                {% end_widget_attribute %}
            {% end_widget_block %}
        </div>
      </div>
      <div class="col-md-6 content-container">

          <div class="post-wrap">
            <div class="image-bg"  style="background: url({% image_src "edge_2a" label="event 1 background image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/education-post-bg.jpg" no_wrapper="true" %}) no-repeat;background-size: cover;"></div>
            <div class="bg-overlay" style="background:rgba(54,73,6,0.8);"></div>
            <span class="type">
                {% text "edge_3a" label="event 1 title" value="Edison Event" no_wrapper="true" %}
            </span>
            <div class="post-info">
              <p>
                {% text "edge_3b" label="event 1 title" value="Event Title" no_wrapper="true" %}
              </p>
              <p class="date">
                {% text "edge_3c" label="event 1 date" value="Sept. 16 2016  .  Princeton" no_wrapper="true" %}
              </p>
              <p>
                {% text "edge_3d" label="event 1 description" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at interdum elit." no_wrapper="true" %}
              </p>
              <a href="{% text "edge_3e" label="event 1 link url" value="http://edisonpartners.com" no_wrapper="true" %}">
              {% text "edge_3f" label="event 1 link text" value="Read More" no_wrapper="true" %}
              </a>
            </div>
          </div>







          <div class="post-wrap">
            <div class="image-bg"  style="background: url({% image_src "edge_21a" label="event 2 background image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/education-post-bg.jpg" no_wrapper="true" %}) no-repeat;background-size: cover;"></div>
            <div class="bg-overlay" style="background:rgba(54,73,6,0.8);"></div>
            <span class="type">
                {% text "edge_31a" label="event 2 title" value="Edison Event" no_wrapper="true" %}
            </span>
            <div class="post-info">
              <p>
                {% text "edge_31b" label="event 2 title" value="Event Title" no_wrapper="true" %}
              </p>
              <p class="date">
                {% text "edge_31c" label="event 2 date" value="Sept. 16 2016  .  Princeton" no_wrapper="true" %}
              </p>
              <p>
                {% text "edge_31d" label="event 2 description" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at interdum elit." no_wrapper="true" %}
              </p>
              <a href="{% text "edge_31e" label="event 2 link url" value="http://edisonpartners.com" no_wrapper="true" %}">
              {% text "edge_31f" label="event 2 link text" value="Read More" no_wrapper="true" %}
              </a>
            </div>
          </div>







          <div class="post-wrap">
            <div class="image-bg"  style="background: url({% image_src "edge_22a" label="event 3 background image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/education-post-bg.jpg" no_wrapper="true" %}) no-repeat;background-size: cover;"></div>
            <div class="bg-overlay" style="background:rgba(54,73,6,0.8);"></div>
            <span class="type">
                {% text "edge_32a" label="event 3 title" value="Edison Event" no_wrapper="true" %}
            </span>
            <div class="post-info">
              <p>
                {% text "edge_32b" label="event 3 title" value="Event Title" no_wrapper="true" %}
              </p>
              <p class="date">
                {% text "edge_32c" label="event 3 date" value="Sept. 16 2016  .  Princeton" no_wrapper="true" %}
              </p>
              <p>
                {% text "edge_32d" label="event 3 description" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at interdum elit." no_wrapper="true" %}
              </p>
              <a href="{% text "edge_32e" label="event 3 link url" value="http://edisonpartners.com" no_wrapper="true" %}">
              {% text "edge_32f" label="event 3 link text" value="Read More" no_wrapper="true" %}
              </a>
            </div>
          </div>



          <div class="post-wrap">
            <div class="image-bg"  style="background: url({% image_src "edge_23a" label="event 4 background image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/education-post-bg.jpg" no_wrapper="true" %}) no-repeat;background-size: cover;"></div>
            <div class="bg-overlay" style="background:rgba(54,73,6,0.8);"></div>
            <span class="type">
                {% text "edge_33a" label="event 4 title" value="Edison Event" no_wrapper="true" %}
            </span>
            <div class="post-info">
              <p>
                {% text "edge_33b" label="event 4 title" value="Event Title" no_wrapper="true" %}
              </p>
              <p class="date">
                {% text "edge_33c" label="event 4 date" value="Sept. 16 2016  .  Princeton" no_wrapper="true" %}
              </p>
              <p>
                {% text "edge_33d" label="event 4 description" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at interdum elit." no_wrapper="true" %}
              </p>
              <a href="{% text "edge_33e" label="event 4 link url" value="http://edisonpartners.com" no_wrapper="true" %}">
              {% text "edge_33f" label="event 4 link text" value="Read More" no_wrapper="true" %}
              </a>
            </div>
          </div>








      </div>
    </div>
  </div>
</section>
{% set rec_post = blog_recent_posts('default', 1) %}
<!-- I AM GROOT {{rec_post.title}} -->
        {% widget_container "edge_763" label="bottom callout" no_wrapper="true" %}
        
        {% end_widget_container %}


{% include "custom/page/garfield/footer.html" %}


