{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}


<section class="fullscreen-wrapper preload" style="background: url(&quot;//cdn2.hubspot.net/hubfs/394660/unnamed-1.jpg?t=1475498750656&quot;); background-position: 50% 50%;">
    <div class="bg-overlay" style="background:rgb(54,73,6);opacity:0.8;"></div>
    <div class="slide-mix valign-content-box lift">
        <div class="valign-content">
            <div class="valign-inner-wrapper">
                
                    <img src="http://www.edisonpartners.com/hs-fs/hubfs/garfield-assets/images/home-hero-logo.png">
                
            </div>
        </div>
    </div>
    <div class="slide-mix valign-content-box lift">
        <div class="valign-content">
            <div class="valign-inner-wrapper">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 copy-style-a">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% widget_container "home_flex_1" no_wrapper="true" %}

{% end_widget_container %}
















{% include "custom/page/garfield/footer.html" %}
