{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}

{% image_src "hero_image_src" label="hero image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/partner-hero.jpg" no_wrapper="true" export_to_template_context=True %}
<section class="fullscreen-wrapper partner-bio-hero" style="background:url('{{ widget_data.hero_image_src.src }}');">
    <div class="hero-image"><img src="{{ widget_data.hero_image_src.src }}" /></div>
    <div class="hero-content position-fit col-md-6">
        <div class="member-info">
            <div class="who">
                {% widget_block rich_text "who" overrideable="true" label="name & title" no_wrapper="true"  %}
                    {% widget_attribute "html" %}
                        <h1>Chris Sugden</h1>
                        <h5>MANAGING PARTNER</h5>
                    {% end_widget_attribute %}
                {% end_widget_block %}
            </div>
            {% text "partner_email" label="email address" value="csudgen@edisonpartners.com" no_wrapper="true" export_to_template_context=True %}
            {% text "partner_tel" label="telephone" value="123-456-7897" no_wrapper="true" export_to_template_context=True %}
            <div class="contact-meta">
                <p>
                    <a href="mailto:{{ widget_data.partner_email.value }}"><i class="fa fa-envelope" aria-hidden="true"></i> 
                        {{ widget_data.partner_email.value }}
                    </a>
                </p>
                <p>
                    <a href="tel:{{ widget_data.partner_tel.value }}"><i class="fa fa-phone" aria-hidden="true"></i>
                        {{ widget_data.partner_tel.value }}
                    </a>
                </p>
                <p>
                    {% text "partner_description" label="description" value="Sector Focus: Sector One, Sector Two" no_wrapper="true" %}
                </p>
            </div>
            <div class="social">
                {% custom_widget "social_links" widget_name='garfield partner social links' label="social links" %}
            </div>
        </div>
        <div class="quote">
            <p>{% text "partner_quote" label="quote" value="Loorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum ante sit amet sem viverra feugiat. Praesent consectetur odio eget dictum interdum. Sed id felis est. Integer sagittis. Praesent consectetur odio eget dictum interdum. Sed id felis est. Integer sagittis." no_wrapper="true" %}</p>
        </div>
    </div>

</section>
{% image_src "member_image_src" label="left side partner image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/member.jpg" no_wrapper="true" export_to_template_context=True %}
<section class="fullscreen-wrapper-with-full-height-children bio-details">
    {% if widget_data.member_image_src.value %}
        <div class="fullscreen-wrapper-child member-img-fit col-md-6" style="background:url('{{ widget_data.member_image_src.value }}');background-size:cover !important;">
        
        </div>
    {% endif %}
    {% unless widget_data.member_image_src.value %}
        <div class="fullscreen-wrapper-child col-md-12 content-container text-center">
    {% endunless %}
    {% if widget_data.member_image_src.value %}
        <div class="fullscreen-wrapper-child col-md-6 content-container">
    {% endif %}
        <div class="valign-content">
            <div class="valign-inner-wrapper">
                <div class="row">
                    <div class="col-md-12 bio-content">
                    
                        {% widget_block rich_text "bio_expanded" overrideable="true" no_wrapper="true" label="bio content"  %}
                            {% widget_attribute "html" %}
                                <h5>ABOUT CHRIS</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at interdum elit. Aliquam faucibus est ultrices augue eleifend sodales. Vestibulum lacinia leo in tristique ultricies. Aliquam eu mi non arcu tincidunt mattis. Curabitur scelerisque, dui quis pulvinar rutrum, velit tortor porttitor sem, ut aliquet nisi neque at nibh. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras scelerisque volutpat purus, ac dapibus nunc porta sed. Praesent ut mattis ex. </p>
        
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at interdum elit. Aliquam faucibus est ultrices augue eleifend sodales. Vestibulum lacinia leo in tristique ultricies. Aliquam eu mi non arcu tincidunt mattis. Curabitur scelerisque, dui quis pulvinar rutrum, velit tortor porttitor sem, ut aliquet nisi neque at nibh. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras scelerisque volutpat purus.</p>

                            {% end_widget_attribute %}
                        {% end_widget_block %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bio-vip-container float-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="clearfix" style="margin-top:65px;"></div>
                <h5 class="fancy">
                    <span>
                        {% text "partner_logo_title" label="partner logos title" value="V.I.P." no_wrapper="true" %}
                    </span>
                </h5>
                <div class="clearfix" style="margin-top:65px;"></div>
            </div>
        </div>
        <div class="row">
            {% widget_container "partner_flex_1" label="logos" no_wrapper="true" %}
            
            {% end_widget_container %}
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>
{% widget_container "partner_flex_2" no_wrapper="true" %}

{% end_widget_container %}
<script>
//partner scroll
$(function(){
    var processing = false;
    
    $('body').on({
        'mousewheel': function(e) {
            
            if (processing) {
                e.preventDefault();
                e.stopPropagation();
            }
            
            var scrollpos = $(window).scrollTop();
            if (e.originalEvent.wheelDelta <= 0) {
                if (scrollpos < 100){
                    if (!$('.partner-bio-hero').hasClass('quote-active')){
                        processing = true;
                        $('.partner-bio-hero .member-info').fadeOut(function(){
                            $('.partner-bio-hero .quote').fadeIn(function(){
                                $('.partner-bio-hero').addClass('quote-active');
                                processing = false;
                            });
                        });
                    }
                }
            }else{
                if (scrollpos <= 1){
                    if ($('.partner-bio-hero').hasClass('quote-active')){
                        processing = true;
                        $('.partner-bio-hero .quote').fadeOut(function(){
                            $('.partner-bio-hero .member-info').fadeIn(function(){
                                $('.partner-bio-hero').removeClass('quote-active');
                                processing = false;
                            });
                        });
                    }
                }
            }
        }
    })    
    
});
</script>
{% include "custom/page/garfield/footer.html" %}


