{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}



<section class="port-hero parallax" style="background:url({% image_src "career_hero_image_src" label="hero image" src="http://cdn2.hubspot.net/hubfs/394660/garfield-assets/images/career-hero.jpg" no_wrapper="true" %});background-size:cover;">
    <div class="bg-overlay" style="background:rgba(83,149,164,0.8);"></div>
    <div class="valign-content">
        <div class="valign-inner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="text-align:center;color:white;">
                            {% text "car43a0" label="title" value="Interested in working with Edison?" no_wrapper="true" %}
                        </h2>
                        {% widget_block rich_text "car43a" overrideable="true" no_wrapper="true" label="career subtitle"  %}
                            {% widget_attribute "html" %}
                                <p style="color:white;text-align:center;">
                                    There are plenty of opportunities here to join our family.
                                </p>
                            {% end_widget_attribute %}
                        {% end_widget_block %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="fancy fit">
                    <span style="text-transform:uppercase;">
                        {% text "edgea43a0" label="subtitle" value="50+ Proven Playbooks for establishing & optimizing best practices" no_wrapper="true" %}
                    </span>
                </h5>
                <div class="clearfix" style="margin-top:40px;"></div>
            </div>
        </div>
        <div class="row careers-wrapper">
            {% widget_container "career_grid" label="careers" no_wrapper="true" %}
                
            {% end_widget_container %}
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>



<section class="advedge-vendors" style="background:#ebebeb;">
    <div class="container">
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="fancy fit">
                    <span style="text-transform:uppercase;">
                        {% text "career4323a0" label="title" value="CURRENT PARTNER OPENINGS" no_wrapper="true" %}</h4>
                    </span>
                </h5>
            </div>
        </div>
      
        <div class="row" style="margin-top:30px;margin-bottom:30px; text-align: center;">
            {% widget_container "advedge_logos" label="logo gallery" no_wrapper="true" %}
                
            {% end_widget_container %}
        </div>
    </div>
</section>



            {% widget_container "advedge_bottom_callout" label="bottom callout container" no_wrapper="true" %}
                
            {% end_widget_container %}



{% include "custom/page/garfield/footer.html" %}


