{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}
<style>
    footer {display:none;}
</style>

<section id="error-404">
  <div class="header fullscreen-wrapper" style="background: url('{% image_src "error_404_header" label="404 page hero image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/edison-404.jpg" no_wrapper="true" %}') no-repeat 50% 50%; background-size:cover;">
    <div class="valign-content">
      <div class="valign-inner-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>{% text "404_title" label="header text" value="Hello?" no_wrapper="true" %}</h2>
              <p>{% text "404_sub" label="subheader text" value="Yes, it looks like you’ve reached a page that is no longer available." no_wrapper="true" %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/logo-icon.png" alt="" />
  </div>
</section>











{% include "custom/page/garfield/footer.html" %}


