{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}



<section class="port-hero parallax" style="background:url({% image_src "hero_image_src" label="hero image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/port-hero.jpg" no_wrapper="true" %});background-size:cover;">
    <div class="bg-overlay" style="background:{% color "bg-overlay" label='Choose a color', color='#5395A4', no_wrapper=True %};opacity: 0.8;"></div>
    <div class="valign-content">
        <div class="valign-inner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="text-align:center;color:white;">
                            {% text "title" label="title" value="SALES & MARKETING" no_wrapper="true" %}
                        </h5>
                        <h2 style="text-align:center;color:white;">
                            {% text "subtitle" label="subtitle" value="ACCELERATION" no_wrapper="true" %}
                        </h2>
                    </div>
                </div>
                <div class="clearfix" style="margin-top:50px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        {% widget_block rich_text "edge43a" overrideable="true" no_wrapper="true" label="hero content"  %}
                            {% widget_attribute "html" %}
                                <p style="color:white;text-align:center;">
                                    End-to-end, systematic approach to go-to-market strategy and execution, organizational design, and architecting scalable marketing machines that deliver the differentiated products, market presence and strong pipelines.
                                </p>
                            {% end_widget_attribute %}
                        {% end_widget_block %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="clearfix" style="margin-top:65px;"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="clearfix" style="margin-top:40px;"></div>
                <div class="center-list">
                    {% widget_block rich_text "edge4aw" overrideable="true" no_wrapper="true" label="content"  %}
                        {% widget_attribute "html" %}
                            
                        {% end_widget_attribute %}
                    {% end_widget_block %}
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>



{% widget_container "advedge_bottom_callout" label="bottom callout container" no_wrapper="true" %}
    
{% end_widget_container %}



{% include "custom/page/garfield/footer.html" %}


