{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}


<section class="ceo-hero-container">
    <div class="container">
        <div class="clearfix" style="margin-top:175px;"></div>
        <div class="row">
            <div class="col-md-12">
                <h5 style="text-align:center;color:black;">
                    {% text "ceo_hjs" label="header" value="CEO" no_wrapper="true" %}
                </h5>
                <h2 style="text-align:center;color:black;">
                    {% text "ceo_hj1" label="sub header" value="CORNER" no_wrapper="true" %}
                </h2>
            </div>
        </div>
        <div class="clearfix" style="margin-top:35px;"></div>
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:24px;text-align:center;">
                    {% text "ceo_hj2" label="description" value="Hear from our portfolio's CEOs on their work, their partnership with Edison, and how the Edison Edge has played a key role in their success." no_wrapper="true" %}
                    
                </p>
            </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>


<section class="ceo-featured-container">
    <div class="container">
        <div class="clearfix" style="margin-top:35px;"></div>
        <div class="row">
            <div class="col-md-12">
                <h5 style="color:white;">{% text "ceo_hj3" label="featured title" value="FEATURED" no_wrapper="true" %}</h5>
            </div>
            <div class="col-md-12">
                <div class="hs-responsive-embed hs-responsive-embed-youtube featured">
                   <div class="hs-responsive-embed hs-responsive-embed-youtube">
                    <iframe class="hs-responsive-embed-iframe" src="//www.youtube.com/embed/{% text "ceo_hj4" label="featured video id" value="KnVYXqDsvls" no_wrapper="true" %}" width="625" height="171" data-service="youtube"></iframe>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-top:15px;"></div>
            <div class="col-md-12">
               <div class="featured-meta">
                  <p style="color:white;">
                    {% text "ceo_hj6" label="featured video description" value="Jonathan Bulkley | RealMatch" no_wrapper="true" %}
                  </p>
               </div>
            </div>
        </div>
        <div class="clearfix" style="margin-top:85px;"></div>
    </div>

</section>

<section class="mini-vids-container">
    <div class="container">
        <div class="clearfix" style="margin-top:85px;"></div>
        <div class="row">
            {% widget_container "ceo_video_container" label="videos container" no_wrapper="true" %}
            
            {% end_widget_container %}
        </div>
        <div class="clearfix" style="margin-top:15px;"></div>
    </div>
</section>

{% include "custom/page/garfield/footer.html" %}


