{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}

<style>
    body {overflow: hidden;}
</style>
<section id="contact-us-form" class="display">
  <div class="header">
    <div class="valign-content">
      <div class="valign-inner-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <a href="/"><img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/logo-icon.png" alt="" /></a>

              <a href="/" class="toggle-contact-form" style="float:right;"><img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/close-x.png" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-header" style="background: url('{% image_src "contact_14p" label="contact form hero image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/contact-form-header.jpg" no_wrapper="true" %}') no-repeat 50% 50%; background-size:cover;">
    <div class="valign-content">
      <div class="valign-inner-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>{% text "contact_14q" label="header text" value="Thanks for your interest." no_wrapper="true" %}</h2>
              <p>{% text "contact_14r" label="subheader text" value="We'll be in touch soon." no_wrapper="true" %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="margin-top:6px"></div>
  <section class="contact-us-social no-screen" style="background: url({% image_src "social_block_bg" label="social block background image" src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/contact-page-header-2.jpg" no_wrapper="true" %}) no-repeat 0 0; background-size:cover;">
      <div class="bg-overlay" style="background: rgba(0,0,0,0.6);"></div>
      <div class="valign-content">
        <div class="valign-inner-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-xs-4">
                <h2>Follow Us</h2>
              </div>
              <div class="col-xs-8 social-links">
                <a href="https://www.facebook.com/EdisonPartners">
                    <i class="contact-sprite sprite-Vector-Smart-Object" style="background-image: url(//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/spritesheet.png);"></i>
                </a>
                <a href="https://www.linkedin.com/company/edison-ventures-?trk=company_logo">
                    <i class="contact-sprite sprite-Vector-Smart-Object-1" style="background-image: url(//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/spritesheet.png);"></i>
                </a>
                <a href="https://twitter.com/edisonventure">
                    <i class="contact-sprite sprite-Vector-Smart-Object-2" style="background-image: url(//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/spritesheet.png);"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCD2F1lsJpd7VGHgBLZAMfeA">
                    <i class="contact-sprite sprite-Vector-Smart-Object_4" style="background-image: url(//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/spritesheet.png);"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="" style="margin-top:6px"></div>
  <div class="footer">
    <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/logo-icon.png" alt="" />
  </div>
</section>











{% include "custom/page/garfield/footer.html" %}


