<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title and Meta Tags Begins -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="utf-8">
        <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
        
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">
        {{ standard_header_includes }}
        

       
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

                   
        <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
        <!-- link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css" rel="stylesheet"/>   
        
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/flaticon.css" rel="stylesheet" type="text/css" />
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/portfolio.css" rel="stylesheet" type="text/css" />
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/flexslider.css" rel="stylesheet" type="text/css" />
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/rssb.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="//cdn2.hubspot.net/hubfs/1884333/garfield-assets/css/owl.transitions.css" rel="stylesheet" type="text/css" />
        
        <link href="//fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">        
        
        <link rel="stylesheet" href="{{ get_public_template_url("custom/page/garfield/overrides.css") }}">
        <link rel="stylesheet" href="{{ get_public_template_url("custom/page/garfield/overrides-beta.css") }}">
    </head>
<body class="{{ builtin_body_classes }}">