<nav class="navbar navbar-default navbar-fixed-top desktop-header">
    <div class="container">
        <div class="switch-logo-container">
            <img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/images/logo.png" alt="Edison Partners logo" />
        </div>
        {% menu "main_menu" site_map_name='main menu' flow="horizontal" no_wrapper="true" overrideable="false"%}
    </div>
</nav>
<div class="mobile-header">
    <div class="mobile-logo">
        <a href="/"><img src="//cdn2.hubspot.net/hubfs/394660/garfield-assets/edison-partners-logo.svg"  alt="Edison Partners logo mobile"/></a>
    </div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </button>
              
              
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            {% menu "mobile_menu" site_map_name='main menu' flow="vertical" no_wrapper="true" overrideable="false"%}
    </div>
</div>