html, body {
	height: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	line-height: 1.2em;
}

a {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -kthtml-transition: all .2s linear;
    transition: all .2s linear;
}
p {
	line-height: 1.6em;
	font-family: 'Raleway', sans-serif;
}
h5 {
    color: white;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 400;
}
.clearfix {
    float: left;
    width: 100%;
    clear: both;
}
.slide-mix {
	font-family: 'Raleway', sans-serif;
}
#page-wrapper {
	min-height: 100%;
}
.fullscreen-wrapper {
    width: 100%;
    min-height: 100%;
    background-size: cover !important;
    display: block;
}
.fullscreen-wrapper-with-full-height-children {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-size: cover !important;
}
.fullscreen-wrapper-child {
    min-height: 100%;
    height: 100%;
    background-size: cover !important;
}
.fullscreen-wrapper-child .title-container {
    position: absolute;
    top: 80px;
    width: 100%;
}
.fullscreen-wrapper-child .link-container {
    position: absolute;
    bottom: 80px;
    width: 100%;
}
.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
.lift {
    position: relative;
    z-index: 2;
}
.valign-content-box {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.valign-content {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}
.parallax{
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.parallax {
    min-height: 100%;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{ 
    .parallax {
        background-attachment: scroll !important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 
    .parallax {
        background-attachment: scroll !important;
    }    
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
    .parallax {
        background-attachment: scroll !important;
    }
}

.parallax.no-screen {
    min-height: auto !important;
}
svg.knockout{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
svg rect.fit, svg rect.target {
    width: 100%;
    height: 100%;
}
.big-text-1 {
    font-size: 13vw;
}
.split-slant-container .lower {
    position: absolute;
    bottom:50px;
    right:0;
}
.switch-logo-container{
    display: none;
}
#hs_menu_wrapper_main_menu {
    text-align: center;
}
#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul {
    margin-bottom: 0;
}
#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
    height: 70px;
    width: 125px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -kthtml-transition: all .2s linear;
    transition: all .2s linear;
}
#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a {
    line-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 800;
    color: #878787;
    max-width: inherit;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -kthtml-transition: all .2s linear;
    transition: all .2s linear;
}
#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.home-link a::after {
    display: none;
}
#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a {
    position: relative;
}

#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -1rem;
    left: 0;
    border-bottom: 4px solid rgb(120,133,58);
    transition: bottom 500ms ease;
}

#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a:hover {color: rgb(120,133,58);}

#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a:hover::after {
    bottom: 1.5rem;
}

#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.active a {
    color: rgb(64,78,6);
    position: relative;
}
#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.active a::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    border-bottom: 4px solid #404e06;
}

#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal.sticky>ul li.hs-menu-depth-1{
    height: 50px;
    width: 125px;
}
#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal.sticky>ul li.hs-menu-depth-1 a
{
    line-height: 50px;
}
#hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal.sticky>ul li.hs-menu-depth-1 a img{
    max-height: 40px;
}
body .navbar-default {
    border: 0 none;
}
body .navbar-default.sticky {
    background: rgba(255,255,255,0.9);
}
footer {
    background: #343434;
    color: white;
    float: left;
    width: 100%;
}
footer .footer-menu-container {
    width: 100% !important;
    padding-top: 20px;
}
footer .footer-menu-container a {
    color: white;
    letter-spacing: 3px;
}
footer .footer-logo-container {
    padding-top: 10px;
    text-align: center;
}
footer .newsletter-container {
    text-align: left;
}
footer .newsletter-container .inner-wrapper {
    max-width: 400px;
    float: right;
}
footer .newsletter-container .inner-wrapper h5 {
    letter-spacing: 3px;
    font-weight: 300;
    margin-top: 25px;
}
footer .newsletter-container label, footer .newsletter-container .hs_submit {
    display: none !important;
}
footer .newsletter-container label, footer .newsletter-container input {
    border-radius: 0;
    outline: none;
    border: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    letter-spacing: 2px;
}
footer .social-container a {
    float: left;
    padding-right: 12px;
    text-align: center;
}
footer .newsletter-container .hs-error-msgs {
    display: none;
}
.isotope-container .isotope {
    text-align: left;
}
section {
    position: relative;
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
}
.isotope-container-with-filters {
    float: left;
    width: 100%;
}
.team-filters {
    margin-bottom: 50px;
    text-align: center;
}
.team-filters .team-filters-inner-wrapper {
    margin: 0 auto;
    display: table;
}
.team-filters ul li {
    float: left;
    margin-right: 25px;
    list-style-type: none;
    font-size: 14px;
    color: #aaaaaa;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
}
.team-filters ul li:after {
    content: '';
    position: absolute;
    right: -20px !important;
    background: #e0e0e0;
    width:10px;
    height:10px;
    border-radius: 15px;
    top:3px;
}

.team-filters ul li:hover {
    color: rgb(120,133,58);
}
.team-filters ul li.active {
    color: rgb(64,78,6);
}
.isotope-container-with-filters .filters {
    margin-bottom: 50px;
}
.team-iso .isotope{
    position: relative;
}
.team-iso .iso-content {
    position: absolute;
    bottom:10px;
    right:10px;
}
.team-iso .iso-content p{
    margin-bottom: 0;
}
.team-iso .iso-content p.title{
    font-size:20px;
}
.team-iso .iso-content p.desc{
    font-size: 14px;
    letter-spacing: 3px;
}
.team-iso .background-img {
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    background-size: cover !important;
}
.team-iso .isotope {
    width: 33.333%;
}
@media screen and (max-width:976px){
    .team-iso .isotope {
        width: 33.333%;
    }
}
@media screen and (max-width:767px){
    .team-iso .isotope {
        width: 50%;
    }
}
@media screen and (max-width:468px){
    .team-iso .isotope {
        width: 100%;
    }
}
.pill.green {
    color: white;
    background: #78853a;
    padding: 13px 40px;
    border-radius: 30px;
    letter-spacing: 3px;
}
.copy-style-a, .copy-style-a p{
    color: white;
    font-size: 55px;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 9px;
    line-height: 65px;
}
.full-screen-hero .content-container>div, .full-screen-hero .content-container p {
    font-size: 35px;
    color: white;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 9px;
    line-height: 45px;
}
.full-screen-hero .content-container .author, .full-screen-hero .content-container .author p {
    font-size: 25px;
}
.tri-column-container .title-container, .tri-column-container .title-container p {
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
}
.tri-column-container .title-container span {
    font-weight: 300;
}
.tri-column-container .body-content, .tri-column-container .body-content p {
    text-align:left;
    color: white;
    font-size:20px;
    font-weight:100;
}
.tri-column-container .link-container, .tri-column-container .link-container p, .tri-column-container .body-content, .tri-column-container .link-container a {
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
}

.tri-column-container .fullscreen-wrapper-child {
    background-position: 50% 50% !important;
}

@media screen and (max-width:991px){
    .fullscreen-wrapper-with-full-height-children .fullscreen-wrapper-child {
        float: left;
        width: 100%;
    }
}
.edge-callout-content-wrapper {
    text-align: left;
    padding: 10%;
}
.edge-callout-content-wrapper p {
    text-align: left;color: white;font-size:24px;
}
.edge-callout-content-wrapper a {
    text-align: left;color: white;font-size: 12px;font-weight: bold;letter-spacing: 4px;
}
.entourage-callout-content-wrapper {
    padding: 0;
    background: #979797;
}
.entourage-callout-content-wrapper .main-image-container {
    position: relative;
    display: block;
    height: auto;
    float: left;
    width: 100%;
    max-height: 80%;
    overflow: hidden;
    margin-bottom: 2rem;
    z-index: 1;
}

.entourage-callout-content-wrapper .main-image-container a:hover {
    text-decoration: none;
    color: #78853a;
}

.entourage-callout-content-wrapper .main-image-container a p {
    transition: color 500ms ease;
}

.entourage-callout-content-wrapper .main-image-container a:hover p {
    color: #6e8600;
}

.entourage-callout-content-wrapper .main-image-container img {
    width: 100% !important;
}
.entourage-callout-content-wrapper .main-image-container .image-overlay-header {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 50%;
}
.entourage-callout-content-wrapper .main-image-container .image-overlay-header, .entourage-callout-content-wrapper .main-image-container .image-overlay-header p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 6px;
    color:white;
}
.entourage-callout-content-wrapper .main-image-container .image-overlay-header span {
    font-size: 24px;
}
.entourage-callout-content-wrapper .assets-content {
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
}
.split-slant-container {
    position: relative;
    float: left;
    width: 100%;
}
.split-slant-container .main-title h2 {
    color:white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 55px;
}
.split-slant-container .main-title span {
    font-size: 20px;
}
.split-slant-container h3 {
    text-transform: none;
    font-weight: 300;
}
.split-slant-container .upper, .split-slant-container .lower {
    max-width: 700px;
}
.split-slant-container * {
    color: white;
}
.partner-bio-hero {
    background-position: center left !important;
}
.partner-bio-hero .hero-content.position-fit {
    position: absolute;
    right: 0;
    bottom:15%;
}
.partner-bio-hero h1 {
    font-size: 50px;
    font-weight: 300;
}
.partner-bio-hero h5 {
    color: black;
}
.partner-bio-hero .who {
    padding-bottom: 10px;
    max-width: 500px;
    border-bottom: 1px solid #adb4b5;
    margin-bottom: 20px;
}
.partner-bio-hero .quote {
    max-width: 600px;
    position: relative;
    display: none;
}
.partner-bio-hero .quote:before {
    content: '\201c';
    color: #1b5c58;
    position: absolute;
    top: 50px;
    left: -80px;
    font-size: 270px;
    font-family: serif;
    opacity: .1;
}
.partner-bio-hero .quote:after {
    content: '\201d';
    color: #1b5c58;
    position: absolute;
    bottom:-50px;
    right: -40px;
    font-size: 270px;
    font-family: serif;
    opacity: .1;
}
.partner-bio-hero .quote, .partner-bio-hero .quote p {
    color: #1b5c58;
    font-style: italic;
    font-size: 24px;
}
.partner-bio-hero .contact-meta i {
    color: #4a7f8b;
    margin-right: 20px;
}
.partner-bio-hero .contact-meta a {
    color: black;
}
.partner-bio-hero .social a {
    color: #4a7f8b;
}
.partner-bio-hero .social i {
    font-size: 24px;
    margin-right: 15px;
}
.bio-details .bio-content {
    padding-left: 10%;
    padding-right: 10%;
}
.bio-details .bio-content h5 {
    font-weight:bold;color:black;text-align:left;margin-top: 35px;
}
.bio-details .bio-content, .bio-details .bio-content p {
    color:black;text-align:left;
}
.fancy {
  line-height: 0.5;
  text-align: center;
  overflow: hidden;
  line-height: 16px;
  float: left;
  width: 100%;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #a6adae;
  top: 50%;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.bio-vip-container {
    background: #f5f5f5;
}
.bio-vip-container h5 {
    color: black;
    font-weight: bold;
}
.bio-vip-container .partner-logo {
    margin-bottom: 25px;
    height: 100px;
    line-height: 100px;
}

.bio-vip-container .partner-logo img {
    max-width: 249px;
    width: 100%;
}

.bio-pov-container h5 {
    color: black;
    font-weight: bold;
}
.company-profile-container .company-profile-header {
    text-align:center;color:#ecffec;
}
.company-profile-container .company-profile-header span {
    padding:5px 20px;letter-spacing:3px;
}
.company-profile-container .company-description, .company-profile-container .company-description p, .company-profile-container .company-description span {
    text-align:center;color:#414141;
}

.company-profile-container .company-description span {
    font-size: 16px;
    line-height: 1.6em;
    font-family: 'Raleway',sans-serif;
}


.company-quote, .company-quote p {
    text-align:left;color: white;font-size: 18px;font-weight: 100;font-style: italic;letter-spacing: 7px;
}
.company-callout-container .video-description {
    text-align:left;color:white;max-width: 440px;padding-left: 60px;
}

.company-story-container .story-title {
    font-size:32px;color:#7b8f1b;margin-top:0;margin-bottom:30px;letter-spacing:6px;
}
.company-story-container .story-title span {
    font-size:25px;
}
.company-story-container {
    background: #ebebeb;
}
h5.fancy {
    color: black;
    font-weight: bold;
}
h5.fancy.fit span {
    max-width: 460px;
}
.company-edison-team-container .content-swap-wrapper h5 {font-size: 12px; font-weight: bold;letter-spacing: 0.16em;}
.company-edison-team-container .content-swap-wrapper h2 {font-size: 23px; font-weight: 300;letter-spacing: 0.05em;}
.company-edison-team-container .content-swap-wrapper h5, .company-edison-team-container .content-swap-wrapper h2 {
    color: black;
}
.content-swap-wrapper .side-b{
    opacity: 0;
}
.content-swap-wrapper .side-b, .content-swap-wrapper .side-a{
    position: relative;
}
.tri-col-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
}
#hs_cos_wrapper_team_flex_1 {
    width: 100%;
}
.company-team .img__b {
    display: none;
}
.team-header-container h1 {
    color: #363636;font-weight:bold;font-size:24px;text-align:center;letter-spacing:6px;
}
.ethos-callout p.eth-title {
    color:black;text-align:center;font-size:30px;
}
.ethos-callout .button-container {
    text-align:center;margin-top:30px;
}
.team-numbers-container .attributes, .team-numbers-container .attributes p {
    color: #5395a4;
    font-size: 22px;
}
.edge-header {
  color: #fff;
  text-align: left;
  background-position: top center;
  height: 80%;
  min-height: 80%;
}
.edge-header .valign-inner-wrapper,
.edge-header .valign-inner-wrapper p {text-align: left;
}
.edge-explore-menu-container  h5.fancy {
  color: #363636;
  font-weight: bold;
}

.edge-menu {
  width: 100%;
  text-align: center;
}
.edge-menu ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.edge-menu li {
  width: 33%;
  float: left;
  list-style-type: none;
  margin: 0;

}

.edge-menu li a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-family: 'Raleway',sans-serif;
}

.edge-menu li.first a {
  background: #5395a4;
}
.edge-menu li.second a {
  background: #ff5a00;
}
.edge-menu li.third a {
  background: #611547;
}

#operating-leveredge {
  padding: 6rem 0;
}

#operating-leveredge .content-container {
  padding: 2rem;
}

#operating-leveredge .content {
  float: left;
  width: 100%;
}

#operating-leveredge h5,
#operating-leveredge h6  {
  color: #5395a4;
  text-transform: uppercase;;
  letter-spacing: 6px;
}

#operating-leveredge h5 {
  font-size: 20px;
  font-weight: bold;
}

#operating-leveredge h6 {font-size: 14px;}

#operating-leveredge a {
  color: #363636;
  font-size: 16px;
  margin-top: 1.5rem;
  float: left;
  letter-spacing: 4px;
}

.operation-leverage-section p {
    font-size: 14px;
}

.operation-leverage-section strong {
    text-transform: uppercase;
    letter-spacing: 4px;
}

#operating-leveredge a:hover,
#edison-director-network .view-all a:hover,
#education-enlightment .content-container.first a:hover {
    color: #78853a;
    text-decoration: none;
}

#edison-director-network {
  background: #f7f7f7;
  color: #363636;
  padding: 6rem 0;
}


#edison-director-network h5 {
  text-align: right;
  color: #ff5a00;
  text-transform: uppercase;;
  letter-spacing: 6px;
  font-size: 20px;
  margin: 0;
  line-height: 26px;
  font-weight: bold;
}

#edison-director-network .isotope-container h2 {font-size:23px;}
#edison-director-network .isotope-container h5 {font-size:12px;}

#education-enlightment {
  padding: 6rem 0;
}

#education-enlightment h5 {
  color: #611547;
  text-transform: uppercase;;
  letter-spacing: 6px;
  font-size: 20px;
  margin: 0 0 2rem;
  line-height: 26px;
  font-weight: bold;
}

#education-enlightment .content-container.first {
  padding: 4rem;
}

#education-enlightment .content-container.first p {
  color: #363636;
  font-weight: 300;
}

#education-enlightment .content-container.first a {
  color: #363636;
  font-weight: bold;
  margin-top: 2rem;
  float: left;
  letter-spacing: 4px;
}

#education-enlightment .post-wrap {
  margin: 3px;
  padding:30px 15px 15px;
  width: 48%;
  float: left;
  color: #fff;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  height: 300px;
}

#education-enlightment .post-info {
    position: absolute;
    bottom: 15px;
}

#education-enlightment .post-wrap .type {
  margin-bottom: 10rem;
  display: block;
  position:relative;
  z-index: 1;
}

#education-enlightment .post-wrap .post-info {

}

#education-enlightment .post-wrap p {
  margin-bottom: 0;
  line-height: 2rem;
}

#education-enlightment .post-wrap p.date {
  margin-bottom: 1rem;
}

#education-enlightment .post-wrap a {
  color: #fff;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;;
  line-height: 2.25rem;
}

#education-enlightment .post-wrap > div.image-bg {
   position: absolute;
   height: 100%;
   width: 100%;
   -moz-transition: all .5s;
   -webkit-transition: all .5s;
   transition: all .5s;
   -moz-transform: scale(1,1);
   -webkit-transform: scale(1,1);
   transform: scale(1,1);
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   z-index: -1;
   top:0;
   left: 0;
}

#education-enlightment .post-wrap:hover > div.image-bg {
   -moz-transform: rotate(10deg) scale(1.5,1.5);
   -webkit-transform: rotate(10deg) scale(1.5,1.5);
   transform: rotate(10deg) scale(1.5,1.5);
}
.scoop-wrapper {
  position: relative;
  overflow: hidden;
}

.scoop-wrapper h2 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    z-index:1;
    color: #fff;
    position: absolute;
    letter-spacing: 4px;
}
.scoop-wrapper h2 span {font-size: 2.5rem;}
.scoop-wrapper .triangle {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scoop-wrapper .triangle.top-triangle {
  top: 1px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    -moz-clip-path: polygon(0 0, 0% 100%, 100% 0);
    -ms-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: url("#clip-path-top");
}

.bottom-triangle {
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  -moz-clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  -ms-clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  clip-path: url("#clip-path-bottom");
}

.top-triangle .triangle-content {
  position: absolute;
  top:40px;
  left:20px;
  width: 50%;
}
.scoop-wrapper a,
.scoop-wrapper a * {color: #fff;}

.scoop-wrapper a:hover,
.scoop-wrapper a:hover * {color: #78853a !important;text-decoration: none;}

.bottom-triangle .triangle-content {
  position: absolute;
  bottom:40px;
  right:20px;
  width: 50%;
}

/* svg will result in white space if left alone, if display none the clip path does not work */
.clip-svg {height: 0;width: 0;overflow: hidden;}
.scoop-wrapper {
    margin-top: -20px;
}
.quote, .quote p {
    color: #1b5c58;
    font-style: italic;
}
.quote:before {
    content: '\201c';
    color: #1b5c58;
    position: absolute;
    top: 50px;
    left: -80px;
    font-size: 270px;
    font-family: serif;
    opacity: .1;
}
.quote:after {
    content: '\201d';
    color: #1b5c58;
    position: absolute;
    bottom: -50px;
    right: -40px;
    font-size: 270px;
    font-family: serif;
    opacity: .1;
}


.port-hero {height:500px;min-height:500px;}
.port-hero .col-md-12 div {
    line-height: 2.25rem;
    max-width: 1000px;
    padding: 0 2rem;
    margin: 0 auto;
}
@media (max-width: 620px) {
 .port-hero {height: auto !important;padding: 2rem 0;}
 .port-hero .valign-content {
    position: relative;
    top: initial;
    width: 100%;
    transform: translateY(0);
    text-align: center;
 }
}

.main-port-filters, .port-sub-filters-container {
    text-align: center;
}
.main-port-filters li, .port-sub-filters-container li {
    display: inline;
    float: none !important;
}







/*blog styles*/
.news-most-recent-post {
  position: relative;
  color:#fff;
  min-height: 475px;
  margin-top: 40px;
  max-width: 1239px;
  margin: 0 auto;
  padding-left:3px;
}

.news-most-recent-post .valign-content {
  position: absolute;
  z-index: 1;
  text-align: left;
}

.news-most-recent-post h2 {
  font-weight: 300;
  margin-top: 2rem;
}
.news-most-recent-post .type {
  text-transform: uppercase;
  letter-spacing: 4px;
}
.news-most-recent-post .author-date {
  font-style: italic;
  margin-bottom: 2rem;
}

.news-most-recent-post a {
  float: left;
  margin-top: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: bold;
}

.blog-wrapper .post-wrap {
  margin: 3px;
  margin-left:0px;
  padding:30px 15px;
  float: left;
  color: #fff;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.blog-wrapper .post-wrap .type {
  display: block;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
}

.blog-wrapper .post-wrap .post-info {
  position: absolute;
  bottom: 30px;
  width: 70%;
}

.blog-wrapper .post-wrap p {
  margin-bottom: 0;
  line-height: 2.25rem;
  font-size: 14px;
}

.blog-wrapper .post-wrap p.author-date {
  margin-bottom: 1.25rem;
}

.blog-wrapper .post-wrap a {
  color: #fff;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;;
  line-height: 2.25rem;
}

.blog-wrapper .post-wrap > div.image-bg {
   position: absolute;
   height: 101%;
   width: 101%;
   -moz-transition: all .5s;
   -webkit-transition: all .5s;
   transition: all .5s;
   -moz-transform: scale(1,1);
   -webkit-transform: scale(1,1);
   transform: scale(1,1);
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   z-index: -1;
   top:0;
   left: 0;
}

.blog-wrapper .post-wrap:hover > div.image-bg {
   -moz-transform: rotate(10deg) scale(1.5,1.5);
   -webkit-transform: rotate(10deg) scale(1.5,1.5);
   transform: rotate(10deg) scale(1.5,1.5);
}

.blog-grid {
  margin: 0 auto;
}

/* clear fix */
.blog-grid :after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */




@media (min-width: 618px) {
    .grid-item {
      float: left;
      width: 306px;
      height: 340px;
      margin-bottom: 5px;
      position: relative;
    }
    .grid-item:nth-child(1),
    .grid-item:nth-child(7) {
      width: 617px;
      height: 685px;
    }
    
    .grid-item:nth-child(4),
    .grid-item:nth-child(8) {
      width: 617px;
    }
}
@media (max-width: 1239px) {
    .news-most-recent-post,
    .blog-grid {
        max-width: 928px !important;
    }
}

@media (max-width: 930px) {
    .news-most-recent-post,
    .blog-grid {
        max-width: 617px !important;
    }
}

@media (max-width: 617px) {
    .grid-item {
      float: left;
      width: 100%;
      height: 340px;
      margin-bottom: 5px;
      position: relative;
    }
    .news-most-recent-post,
    .blog-grid {
        max-width: 100% !important;
    }
}

.smart-grid .bg-overlay{
    margin-top: 3px;
    margin-left: 0px;
}
.grid-item[data-index="10"]{
    display: none;
}
.blog-pagination a {
    min-width: 150px;
    text-align: center;
}
.grid-item[data-index="1"] .bg-overlay {
    background: rgba(0,0,0,0.8);
}
.grid-item[data-index="2"] .bg-overlay {
    background: rgba(0,0,0,0.8);
}
.grid-item[data-index="3"] .bg-overlay {
    background: rgba(131,151,40,0.8);
}
.grid-item[data-index="4"] .bg-overlay {
    background: rgba(131,151,40,0.8);
}
.grid-item[data-index="5"] .bg-overlay {
    background: rgba(83,149,164,0.8);
}
.grid-item[data-index="6"] .bg-overlay {
    background: rgba(0,0,0,0.8);
}
.grid-item[data-index="7"] .bg-overlay {
    background: rgba(131,151,40,0.8);
}
.grid-item[data-index="8"] .bg-overlay {
    background: rgba(131,151,40,0.8);
}
.grid-item[data-index="9"] .bg-overlay {
    background: rgba(83,149,164,0.8);
}

.blog-signup {
    text-align: center;
    background: #f6f6f6;
}
.blog-signup h3{
    color: black;
    text-transform: none;
    font-size: 28px;
    margin-bottom: 25px;
}
.blog-signup label span {
    display: none !important;
}
.blog-signup .hs-error-msgs li label {
    text-align: center;
}
.blog-signup input[type="email"]{
    border: none;
    outline: none;
    -webkit-transition: border 0.2s linear,box-shadow 0.2s linear;
    transition: border 0.2s linear,box-shadow 0.2s linear;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0);
    border-radius: 0;
    padding: 10px 15px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 300;
    background: #ebebeb;
    text-align: center;
    max-width: 300px;
}
.blog-signup input[type="submit"]{
    color: white !important;
    background: #78853a !important;
    padding: 13px 40px !important;
    border-radius: 30px !important;
    letter-spacing: 3px !important;
    border: none !important;
}
.blog-signup input[type="submit"]:hover{
    color: white !important;
    background: #78853a !important;
    padding: 13px 40px !important;
    border-radius: 30px !important;
    letter-spacing: 3px !important;
    border: none !important;
}
.blog-individual-title {
    margin-top: 130px;
    margin-bottom: 75px;
}
.blog-individual-title h1 {
    font-size: 50px;
    font-weight: 100;
    color: black;
    text-align: center;
}
.blog-individual-title .meta {
    text-align: center;
}
.blog-individual-hero-image {
    position: relative;
    float: left;
    width: 100%;
}

.blog-individual-hero-image img {width: 100%};
.rrssb-buttons.large-format li a,
.rrssb-buttons li a {
    color: #fff !important;
    border-radius: 9px !important;
    padding: 11px 7px 12px 7px !important;
    max-width: 80px !important;
    margin: auto !important;
    text-align: center !important;
}

/*.share-container .rrssb-buttons li a {
    max-width: 80px;
    margin: auto;
    text-align: center;
    border-radius: 9px;
    padding: 6px 20px;
    color: white;
}*/
.sharing-container {
    margin-bottom: 75px;
}
.recent-articles {
    background: #f6f6f6;
}

.recent-articles-grid .post-wrap .type {
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 1;
}
.recent-articles-grid .post-wrap .post-info {
    position: relative;
    z-index: 1;
    margin-top: 130px;
}
.recent-articles-grid .post-wrap {
    padding: 15px 30px;
}
.recent-articles-grid .post-wrap p {
    margin-bottom: 0;
    line-height: 2.25rem;
    font-size: 14px;
    color: white;
}
.recent-articles-grid .post-wrap p.author-date {
    margin-bottom: 1.25rem;
    color: white;
}

.recent-articles-grid .post-wrap a {
    color: #fff;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.25rem;
    color: white;
}
.recent-articles-grid .post-wrap > div.image-bg {
    position: absolute;
    height: 101%;
    width: 101%;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    top: 0;
    left: 0;
}
.recent-articles-grid-item .bg-overlay {
    z-index: 1;
    margin: 0;
    height: 101%
}
.recent-articles-grid-item[data-index="1"] .bg-overlay {
    background: rgba(0,0,0,0.8);
}
.recent-articles-grid-item[data-index="2"] .bg-overlay {
    background: rgba(131,151,40,0.8);
}
.recent-articles-grid-item[data-index="3"] .bg-overlay {
    background: rgba(0,0,0,0.8);
}
.recent-articles-grid-item[data-index="4"] .bg-overlay {
    background: rgba(83,149,164,0.8);
}
.center-list {
    text-align: center;
}
.center-list li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.center-list li:after {
    content: "";
    width: 3px;
    height: 3px;
    background: #868686;
    border-radius: 6px;
    right: -4px;
    top: 7px;
    position: absolute;
}
.center-list li:last-child:after {
    display: none;
}
.advedge-vendors h4 {
    letter-spacing: 6px;
    font-weight: 500;
}
.advedge-vendors .partner-logo {
    text-align: center;
    margin-bottom: 35px;
}
.careers-hero h2 {
    font-weight: 300;
    font-size: 50px;
}
.careers-wrapper .apply-btn {
    margin-top: 55px;
}
.careers-wrapper .career-item {
    margin-bottom: 70px;
}
.careers-wrapper h5 {
    color: black;
    font-weight: 500;
}
.careers-wrapper .career-titles {
    cursor: pointer;
    position: relative;
}
.careers-wrapper .career-titles h3 {
    float: left;
}
.careers-wrapper .career-titles h3:before {
    border-color: #919c5f;
    border-style: solid;
    border-width: .15em .15em 0 0;
    content: '';
    display: inline-block;
    height: .45em;
    left: 0;
    position: relative;
    top: .15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .45em;
    transform: rotate(135deg);
    float: right;
    margin-top: 0px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -kthtml-transition: all .2s linear;
    transition: all .2s linear;
    margin-right: -35px;
}
.careers-wrapper .career-titles h3.active::before {
        transform: rotate(-45deg);
}
.contact-form-wrapper input.hs-input, .contact-form-wrapper textarea.hs-input {
    background: #ebebeb;
    -webkit-transition: border 0.2s linear,box-shadow 0.2s linear;
    transition: border 0.2s linear,box-shadow 0.2s linear;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0) !important;
    border: none;
    border-radius: 0;
    padding: 24px 12px;
    letter-spacing: 2px;
    width: 100%;
    margin: .5rem !important;
}
.career-titles .float-wrapper {
    width: 100%;
    float: left;
    display: inline-block;
}
.contact-form-wrapper .hs-form.stacked fieldset {
    max-width: 100%;
}
.contact-form-wrapper label {
    display: none !important;
}
.contact-form-wrapper .hs-form fieldset.form-columns-1 .hs-input {
    width:100% !important;
}
.contact-form-wrapper .hs-form .hs-input, .contact-form-wrapper .hs-form textarea.hs-input {
    max-width: 100%;
    
}

.contact-form-wrapper .hs-form textarea.hs-input {
    margin: 0 !important;
}

.contact-form-wrapper .hs-form textarea.hs-input {
    height: 180px;
}
.contact-form-wrapper .hs-form fieldset.form-columns-2 .input {
    /*margin-right: 32px;*/
}
.contact-form-wrapper .bootstrap-select {
    width: 100% !important;
    height: 41px;
}
.contact-form-wrapper .bootstrap-select button {
    width: 100% !important;
    height: 41px;
    border-radius: 0;
    background: #ebebeb;
}
.contact-form-wrapper .bootstrap-select.open button {
    background: #78853a;
    color: white;
    letter-spacing: 2px;
}
.contact-form-wrapper *:focus, button:focus
{
    border: none !important;
    outline: none !important;
}
.contact-form-wrapper legend{
    display: block;
    color: black !important;
    font-size: 18px !important;
    letter-spacing: 2px;
    padding-bottom: 15px;
    margin: 15px .5rem !important;
}

fieldset.form-columns-1 .input {
    margin: .5rem .5rem .5rem .5rem !important;
}

.contact-form-wrapper .hs_submit .actions input[type="submit"]{
    color: #fff !important;
    letter-spacing: 2px !important;
    padding: 1.4rem 3.8rem !important;
    text-transform: uppercase !important;
    background: #778e1d !important;
    border: 0 none !important;
    border-radius: 20px !important;
}
.contact-form-wrapper .hs-form.stacked .actions{
    margin-top: 0;
    padding-top: 0;
}
.ceo-featured-container {
    background: #78853a;
}
.video-item {
    margin-bottom: 50px;
}
.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    /* background-color: transparent; */
    /* background-image: none; */
    /* border: 1px solid transparent; */
    border-radius: 4px;
    color: black;
    z-index: 99999;
}
.mobile-logo {
    padding: 15px;
    height: 80px;
}
.mobile-logo img{
    float: left;
}

.mobile-header .hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-menu-depth-1>a {
    width: auto;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: left;
}
.mobile-header .hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-menu-depth-1 {
    margin-bottom: 10px;
}
.mobile-header button {
    position: absolute;
    right: 0;
    top: 0;
}

.mobile-header button i {
    font-size: 30px;
}
.mobile-header {
    display: none !important;
}

.hs-responsive-embed {width: 100%;}

.company-callout-container .bg-image {background-attachment: fixed !important;}

.company-callout-container .hs-responsive-embed {
    overflow: visible !important;
}
.company-callout-container .quote-only *{
    text-align: center;
}
.pov-circle-image {
    text-align: center;
}
.pov-circle-image img{
    width: 170px;
    height: 170px;
    margin-top: 45px;
}
.ceo-hero-container h5 {
    font-weight: 600;
}
.ceo-hero-container h2 {
    text-align: center;
    color: black;
    margin-top: 0;
    letter-spacing: 6px;
    font-weight: 700;
}
.team-filters-inner-wrapper .team-filters ul li, .team-filters-inner-wrapper .main-port-filters ul li {
    float: left;
    margin-right: 15px;
    list-style-type: none;
    font-size: 14px;
    color: #aaa;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    display: inline;
    float: none !important;
    margin-left: 15px;
}



#hs_cos_wrapper_home_flex_1 {
    display: none;
}
.edge-header .left-side .valign-inner-wrapper {
    text-align: center;
}
.edge-header .right-side .valign-inner-wrapper {
    max-width: 530px;
}
.edge-header .valign-inner-wrapper, .edge-header .valign-inner-wrapper p {
    font-size: 20px;
    font-weight: 200;
}

















































@media screen and (max-width: 992px) {
    footer {
        width: 100%;
        float: left;
    }
    .float-md {
        float: left;
        width: 100%;
    }
    #hs_menu_wrapper_main_menu.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .quote, .quote p {
        overflow-x: hidden;
        width: 100%;
    }
    .quote:before {
        top: 120px;
    }
}


@media screen and (max-width: 767px) {
    .desktop-header {
        display: none !important;
    }
    .mobile-header {
        display: block !important;
    }
    .edge-header {
        float: left;
        width: 100%;
    }
    .edge-header .valign-content {
        transform: translate(0);
        top: 20px;
    }
    .edge-header .no-fit-mobile .valign-content {
        margin-bottom: 50px;
    }
    .edge-header.fullscreen-wrapper-with-full-height-children/*, .fullscreen-wrapper-child */{
        min-height: auto !important;
        height: auto !important;
    }
    .edge-menu li {
        width: 100%;
    }
    .edge-menu li a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #education-enlightment .post-wrap {
        width: 100%;
    }
    .quote:before {
        left: -30px;
    }
    .quote:after {
        right: -10px;
    }
    #hs_cos_wrapper_home_flex_1 .hs_cos_wrapper:first-child .valign-content {
        top: 30%;
    } 
    .hs-content-name-garfield-home .valign-content {
        transform: translate(0);
        
    }
    
    .entourage-callout-content-wrapper .valign-content {top: 20%;}
}
@media screen and (max-width: 569px) {
    .copy-style-a, .copy-style-a p {
        font-size: 25px;
        line-height: 35px;
    }
    .slide-mix.lift img {
        max-width: 88%;
        height: auto;
    }
    .full-screen-hero .content-container>div, .full-screen-hero .content-container p  {
        font-size: 20px;
        line-height: 25px;
    }
    .full-screen-hero .content-container .author, .full-screen-hero .content-container .author p {
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 24px; 
    }
    .col-xs-6 {width:50%;}
    footer .newsletter-container {margin-bottom:1rem;}
    footer .newsletter-container .inner-wrapper {float:none;}
    
    .tri-column-container .title-container {display: none;}
    
    .scoop-wrapper h3 {font-size: 1.75rem;}
    .scoop-wrapper .bottom-triangle .triangle-content {text-align: right;}
}


#hs_cos_wrapper_company_image_flex_1 {
    margin: 75px 0 95px;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .parallax {
        background-attachment: scroll !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
    /*html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }*/
}
