/* ken styles */

.port-iso .isotope {
    width: 25%;
    height: 260px;
    float: left;
    margin-bottom: 20px;
}

@media (max-width: 1100px) {
    .port-iso .isotope {
        width: 33%;
    }
}

@media (max-width: 585px) {
    .port-iso .isotope {
        width: 50%;
        height: 100px;
    }
    
    .port-iso .isotope ul {
        top: -50px !important;
        width: 100%;
    }
    .port-iso .isotope ul li {
        max-width: 100%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}

@media (min-width: 585px) {
    .port-iso .isotope ul {
         left: 50%;
    }
    .port-iso .isotope ul li {
        right: 50%;
        float: left; display: block;
    }
}

.port-iso .isotope ul {
    list-style-type: none;
    text-align: center;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none; position: relative; 
    float: left; display: block;
    top: -70px;
}

.port-iso .isotope ul li {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 4px;
    padding:2px 1.25rem;
    position: relative; 
}

.port-iso .isotope ul li.case-study {
    background: #78853a;
    color: #fff;
}

.port-iso .isotope ul li.exited {
    background: #e1e1e1;
    color: #555;
}

.main-port-filters ul,
.team-filters ul{margin:0;padding: 0;}

.main-port-filters ul li:last-child::after,
.team-filters ul li:last-child::after{
    display: none;
}

.main-port-filters ul li.industry-toggle-wrap,
.team-filters ul li.industry-toggle-wrap{
    cursor: default;
}


@media (max-width: 400px) {
 .main-port-filters ul li .industry-toggle,
 .team-filters ul li .sub-menu-toggle {
     width: 100%;
    display: block;
    margin-top: 1rem;
 }
 .port-sub-filters-container ul li {
     border-right: 0 none !important;
     padding: .5rem 0 !important;
 }
 
 .main-port-filters ul li .industry-toggle::after, .team-filters ul li .sub-menu-toggle::after {
     left: 50% !important;
 }
}

.main-port-filters ul li .industry-toggle,
.team-filters ul li .sub-menu-toggle {position: relative;cursor: pointer;}

.main-port-filters ul li .industry-toggle::after,
.team-filters ul li .sub-menu-toggle::after {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #ebebeb;
  position: absolute;
  left: 25%;
  bottom: -1rem;
  opacity: 0;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.main-port-filters ul li .industry-toggle.display::after,
.team-filters ul li .sub-menu-toggle.display::after {opacity: 1;}

.port-sub-filters-container {
    top: 1rem;
    background: #ebebeb;
    position: relative;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 200ms ease;
    transition: opacity 200ms ease;
}

.port-sub-filters-container.display {
    opacity: 1;
    max-height: 100px;
}

.port-sub-filters-container ul {
    padding: 1.5rem;
}

.port-sub-filters-container ul li {
    color: #878787;
    margin: 0 0 0 12.5px !important;
    padding-right: 12.5px !important;
    border-right: 1px solid #878787;
}

.port-sub-filters-container ul li.active {color: #555555;}

.port-sub-filters-container li:last-child {border-right: 0 none;}
.port-sub-filters-container li::after {
    display: none;
}



/* NEED TO MERGE WITH TEAM-FILTERS, main-port-filters is tagging along for a few rules */
.team-filters,
.main-port-filters{
    margin-bottom: 50px;
    text-align: center;
}
.team-filters ul li,
.main-port-filters ul li {
    margin-right: 25px;
    list-style-type: none;
    font-size: 14px;
    color: #aaaaaa;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    float: none !important;
}
.team-filters ul li:after,
.main-port-filters ul li:after {
    content: '';
    position: absolute;
    right: -15px;
    background: #e0e0e0;
    width:10px;
    height:10px;
    border-radius: 15px;
    top:3px;
}
.team-filters ul li:hover,
.main-port-filters ul li:hover {
    color: rgb(120,133,58);
}

.team-filters ul li.active,
.main-port-filters ul li.active {
    color: rgb(64,78,6);
}
body.form-displayed {
  overflow: hidden;
}

.contact-us-header,
.contact-us-social {
  position: relative;
  color:#fff;
  height: 475px;
}

.contact-us-header h1 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 4px;
}
.contact-cirlces {
  margin-top: -90px;
}
.contact-cirlces ul {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;;

  width: 100%;
}
.contact-cirlces ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.contact-sprite {
    background-repeat: no-repeat;
    display: block;
}

.contact-us-address {margin: 6rem 0;}

.contact-us-address,
.contact-us-address a {color: #363636;}

.contact-us-address address {margin: 0;padding: 0;}

.contact-us-address address span.title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  display: block;
  font-size: 20px;
}

.contact-us-address address span.street {
  font-weight: 300;
  margin: 0 0 1rem;
  display: block;
  font-size: 24px;
}

.contact-us-address a {
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 2.5rem;
}

.contact-us-address a:hover {
  text-decoration: none;
}

.contact-us-social h2 {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 4px;
}

.social-links a {
  float: left;
  margin: 0 3rem;
}

.contact-us-cta {
  padding: 4rem 0;
}

.contact-us-cta p {
  color: #363636;
  letter-spacing: 2px;
  font-size: 2.25rem;
  font-weight: 300;
  margin: 0 0 2rem;
}

.contact-us-cta button {
  color: #fff;
  letter-spacing: 2px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  background: #778e1d;
  border: 0 none;
  border-radius: 20px;
}

#contact-us-form {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
  min-height: 100%;
  width: 100%;
  z-index: 2000;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease;
}

#contact-us-form.display {
  opacity: 1;
  z-index: 2000;
  visibility: visible;
}

#contact-us-form .header,
#error-404 .header {
  height: 70px;
  background: #ebebeb;
}

#contact-us-form .header img {float: left;}

#contact-us-form .header button {
  width: auto;
  background: transparent;
  border:0 none;
  margin-top: 10px;
  float: right;
}

#contact-us-form .footer,
#error-404 .footer {
  text-align: center;
  background: #343434;
  width: 100%;
  bottom: 0;
  padding: 1rem 0;
}

#contact-us-form .form-header,
#error-404 .header {
  height: 400px;
  position: relative;
  width: 100%;
  color: #fff;
}

#contact-us-form .form-header h2,
#error-404 .header h2 {
  margin: 0;
  font-weight: 300;
  letter-spacing: 2px;
}

#error-404 .header h2 {font-size: 50px;}
#error-404 .header p {font-size: 24px;}
.contact-circles-sprite {
    background-image: url(http://cdn2.hubspot.net/hubfs/394660/garfield-assets/images/contact-circles-sprite.png);
    background-repeat: no-repeat;
    display: block;
}
    

.sprite-Edison-Partners-4713:hover {
    background-position: -5px -5px;
}

.sprite-Edison-Partners-4713 {
    width: 178px;
    height: 178px;
    background-position: -5px -193px;
}

.sprite-Edison-Partners-4734:hover {
    background-position: -5px -381px;
}

.sprite-Edison-Partners-4734 {
    width: 177px;
    height: 178px;
    background-position: -5px -569px;
}

.sprite-Edison-Partners-4790:hover {
    background-position: -5px -757px;
}

.sprite-Edison-Partners-4790 {
    width: 178px;
    height: 178px;
    background-position: -5px -945px;
}

.sprite-Edison-Partners-4800:hover {
    background-position: -5px -1133px;
}

.sprite-Edison-Partners-4800 {
    width: 178px;
    height: 178px;
    background-position: -5px -1321px;
}

.sprite-Edison-Partners-5114:hover {
    background-position: -5px -1509px;
}

.sprite-Edison-Partners-5114 {
    width: 178px;
    height: 178px;
    background-position: -5px -1697px;
}

.sprite-Edison-Partners-5223:hover {
    background-position: -5px -1885px;
}

.sprite-Edison-Partners-5223 {
    width: 178px;
    height: 178px;
    background-position: -5px -2073px;
}




.sprite-Edison-Partners--4713 {
    width: 178px;
    height: 178px;
    background-position: -5px -5px;
}

.sprite-Edison-Partners--4734 {
    width: 177px;
    height: 178px;
    background-position: -193px -5px;
}

.sprite-Edison-Partners--4790 {
    width: 178px;
    height: 178px;
    background-position: -5px -193px;
}

.sprite-Edison-Partners--4800 {
    width: 178px;
    height: 178px;
    background-position: -193px -193px;
}

.sprite-Edison-Partners--5114 {
    width: 178px;
    height: 178px;
    background-position: -380px -5px;
}

.sprite-Edison-Partners--5223 {
    width: 178px;
    height: 178px;
    background-position: -381px -193px;
}

.sprite-Vector-Smart-Object {
    width: 59px;
    height: 57px;
    background-position: -568px -5px;
}

.sprite-Vector-Smart-Object-1 {
    width: 59px;
    height: 58px;
    background-position: -568px -72px;
}

.sprite-Vector-Smart-Object-2 {
    width: 57px;
    height: 56px;
    background-position: -569px -140px;
}

.sprite-Vector-Smart-Object_3 {
    width: 15px;
    height: 15px;
    background-position: -637px -5px;
    left: 0;
    top: 4px;
    position: absolute;
}

.sprite-Vector-Smart-Object_4 {
    width: 60px;
    height: 60px;
    background-position: -569px -206px;
}

#edison-director-network .view-all {
text-align: center;
}

#edison-director-network .view-all a,
#operating-leveredge a {
color: #363636;
font-weight: bold;
margin-top: 2rem;
text-align: center;
letter-spacing: 4px;
font-size: 14px;
}
#education-enlightment .post-info {font-weight: bold;}

.blog-grid {
    max-width: 1240px;
}

.blog-individual-content a {color: #78853a;}
.blog-individual-content a:hover {color: #404e06;}

/* UPDATES FOR TEAM-ISO */

.team-iso .isotope {height: 450px;}
.team-iso h2 {font-size: 23px;font-weight: 300;}
.team-iso a:hover {text-decoration: none;}
.team-iso a h2 {color: #363636;text-decoration: none;}
.team-iso h5 {color: #363636;font-size: 12px;font-weight: bold;}

@media (min-width: 763px) and (max-width: 992px) {
    .team-iso .isotope {height: 400px;}
}


/*** UPDATE FOR partner-bio-hero ***/

@media (min-width: 769px) {
    .hero-image {display:none;}
    .partner-bio-hero {
        background-position: 0 54px !important;
        
    }

}


#edison-director-network .isotope-container {margin-left: auto;margin-right: auto;}

@media (max-width: 768px) {

    .mobile-header {
        background: #fff;
        z-index:2;
        position: relative;
    }

    .hero-image {display: block;}

    .partner-bio-hero {
       
        background-image:none !important;
        background-color: #f9faf5 !important;
    }
    
    .partner-bio-hero .hero-content.position-fit {
        position: relative;
        bottom: initial;
        padding: 2rem;
        width: 100%;
    }
    .partner-bio-hero .hero-content.position-fit .who {
        max-width: 100%;
    }
    #edison-director-network h5 {text-align: center;margin-bottom: 2rem;}
    #edison-director-network .subhead {text-align: center;}
    #edison-director-network .subhead p {width: 80%;margin:0 auto;}
}
@media (max-width: 992px) {
    .edge-menu li {
        width: 100%;
    }
    #operating-leveredge {padding-top: 0rem;}
}