{% include "custom/page/garfield/head.html" %}
{% include "custom/page/garfield/header.html" %}



<style>
  #blog-topics {
    position: absolute;
    z-index: 10;
    color: #363636;
    width: 80%;
    left: 10%;
    overflow: hidden;
  }
  .topics-wrapper {
    background: #fff;
    padding: 2rem 1.5rem;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  #blog-topics .topics-header {
    background: #778e1d;
    padding: .5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1rem;
  }
  .topics-wrapper .topics-section {
    float: left;
    width: 160px;
    overflow: hidden;
  }

  .topics-wrapper .topics-section a {
    color: #363636;
    font-size: 1rem;
    letter-spacing: normal;
    margin-top: 0;
    display: block;
    height: 2.5rem;
    width: 100%;
    font-weight: 300;
    padding-left: 20px;
    position: relative;
  }

.topics-wrapper .topics-section a::before {
    content:"";
    background: #e1e1e1;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 3px;
    left: 0;
}

.topics-wrapper .topics-section a.active::before {
    background: #404e06;
}

#blog-topics .toggle-topics-display {
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
  padding: .75rem 2.5rem .75rem 1.5rem;
  border: 0 none;
  background: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
}
#blog-topics .toggle-topics-display::after {
  content: '\203A';
  position: absolute;
  right: 8px;
  font-size: 2rem;
  top: 8px;
  transform: rotate(90deg);
  transition: transform 500ms ease;
}

#blog-topics.display .toggle-topics-display::after {
  transform: rotate(-90deg);
  top: 6px;
  right: 10px;
}

#blog-topics.display .toggle-topics-display {
  color: #778e1d;
  font-weight: 300;
}

.topics-display-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 500ms ease;
}

#blog-topics.display .topics-display-wrapper {
  max-height: 240px;
}

#blog-topics .container {
  padding: 0;
  transition: all 500ms ease;
}

#blog-topics.display .container {
  background: #fff;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.previous-posts-link,
.next-posts-link {
    color: #778e1d;
    border: 0 none !important;
    float: none;
}

.previous-posts-link:hover,
.next-posts-link:hover {
    color: #78853a !important;
    background: #fff !important;
    border: 0 none !important;
}
</style>

{% set topic_posts = blog_recent_topic_posts('default', 'news', 1) %}

{% for rec_post in topic_posts %}
    <section class="news-most-recent-post" data-index="{{loop.index}}" style="background: url({{ rec_post.post_list_summary_featured_image }}) no-repeat 50% 50%; background-size:cover;margin-top: 73px;">
          <section id="blog-topics">
            {% set edison_topics = blog_topics('default', 250) %}         

            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <button class="toggle-topics-display">Filter By Topic</button>
                  <div class="topics-display-wrapper">
                    <div class="topics-header">type/topic:</div>
                    <div class="topics-wrapper">
                      <div class="topics-section-scroller">
                      <div class="topics-section">
                        <a href="{{ group.absolute_url }}/topic/news">News</a>
                        <a href="{{ group.absolute_url }}/topic/blog">Blog</a>
                        <a href="{{ group.absolute_url }}/topic/edison-event">Edison Event</a>
                        <a href="{{ group.absolute_url }}/topic/industry-event">Industry Event</a>
                      </div>
                        <div class="topics-section">
                          {% for item in edison_topics|sort(False, False, 'name') %}
                            <a href="{{ group.absolute_url }}/topic/{{item.slug}}">{{ item }}</a>
                            {% if loop.index|divisible(5) %}
                            </div>
                            <div class="topics-section">
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <div class="bg-overlay" style="background: rgba(0,0,0,0.6);"></div>
         <div class="valign-content">
            <div class="valign-inner-wrapper">
               <div class="container">
                   <div class="row">
                       <div class="col-md-8">
                         <div class="post-wrap">
                          <span class="type">
                            {% for topic in rec_post.topic_list %}
                                {% if topic.name == "News" %}
                                    {{ topic.name }}
                                {% endif %}
                                {% if topic.name == "Blog" %}
                                    {{ topic.name }}
                                {% endif %}
                                {% if topic.name == "Edison Event" %}
                                    {{ topic.name }}
                                {% endif %}
                                {% if topic.name == "Industry Event" %}
                                    {{ topic.name }}
                                {% endif %}
                            {% endfor %}
                          </span>
                          <div class="post-info">
                            <h2>{{rec_post.title}}</h2>
                            <p class="author-date">
                                {% if rec_post.blog_post_author.display_name == "default" %}
                                    {{rec_post.publish_date | datetimeformat('%B %e, %Y')}}
                                {% else %}
                                    {{ rec_post.blog_post_author.display_name }} . {{rec_post.publish_date | datetimeformat('%B %e, %Y')}}
                                {% endif %}
                            <p>
                            <p class="teaser">{{rec_post.post_body|trim|striptags|truncate(320, false, "") }}</p>
                            <a href="{{rec_post.absolute_url}}">full article&nbsp;&nbsp;></a>
                          </div>
                        </div>
                        
                       
                        
                        
                      </div>
                    </div>
                 </div>
             </div>
         </div>
        </section>
{% endfor %}
<section class="blog-wrapper">
            <div class="blog-grid">

{% for content in contents %}
    {% for rec_post in topic_posts %}
     {% unless rec_post.title == content.title %}
          <div class="grid-item smart-grid" data-index="{{loop.index}}">
            <div class="bg-overlay"></div>
            <a href="{{content.absolute_url}}" style="height: 100%;width: 100%;">
            <div class="post-wrap">
             <div class="image-bg"  style="background: url({{ content.post_list_summary_featured_image }}) no-repeat;background-size: cover;"></div>
             <span class="type">
                
                {% set list = content.topic_list|pprint %}
                {% for topic in content.topic_list %}
                    {% if topic.name == "News" %}
                        {{ topic.name }}
                    {% endif %}
                    {% if topic.name == "Blog" %}
                        {{ topic.name }}
                    {% endif %}
                    {% if topic.name == "Edison Event" %}
                        {% if "Blog" in list %}{% else %}{{ topic.name }}{% endif %}
                    {% endif %}
                    {% if topic.name == "Industry Event" %}
                        {{ topic.name }}
                    {% endif %}
                {% endfor %}
                
             </span>
             <div class="post-info">
               <h4>{{content.title}}</h4>
               <p class="author-date">
                   {% if content.blog_post_author.display_name == "default" %}
                        {{content.publish_date|datetimeformat('%B %e, %Y')}}
                    {% else %}
                        {{ content.blog_post_author.display_name }} . {{content.publish_date|datetimeformat('%B %e, %Y')}}
                    {% endif %}
               <p>
               <p class="teaser">{{content.post_body|trim|striptags|truncate(60, false, "") }}</p>
               full article
             </div>
            </div>
            </a>
          </div>
          {% endunless %}
      {% endfor %}
{% endfor %}
</div>
</section>


<section class="blog-pagination">
    <div class="clearfix" style="margin-top:65px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                    {% if last_page_num %}
                        <a class="previous-posts-link" href="{{ blog_page_link(last_page_num) }}"><&nbsp;&nbsp;Previous&nbsp&nbsp</a>
                    {% endif %}
                    {% if next_page_num %}
                        <a class="next-posts-link" href="{{ blog_page_link(next_page_num) }}">Next&nbsp;&nbsp;></a>
                    {% endif %}
            </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>
<section class="blog-signup">
    <div class="clearfix" style="margin-top:65px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <h3>signup for our blog</h3>
                    <div class="newsletter-signup-container">
                        <!--[if lte IE 8]>
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                        <![endif]-->
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                            portalId: '394660',
                            css: '',
                            formId: '1847e128-acaf-4092-aff7-3447bbfe37e3'
                          });
                        </script>

                    </div>
            </div>
        </div>
        <div class="clearfix" style="margin-top:65px;"></div>
    </div>
</section>




















{% include "custom/page/garfield/footer.html" %}
