{% include "custom/page/garfield/head.html" %}   
{% include "custom/page/garfield/header.html" %}   




<style>
    .rrssb-buttons.large-format li a,
.rrssb-buttons li a {
    color: #fff !important;
    border-radius: 9px !important;
    padding: 11px 7px 12px 7px !important;
    max-width: 80px !important;
    margin: auto !important;
    text-align: center !important;
}
</style>

{%
set contentTitle = content.title
%}

<section class="blog-individual-title">
<div class="container">
    <div class="row bi-header">
        <div class="col-md-12">
            <h1>{{contentTitle}}</h1>
            <div class="meta">
            {% if contentTitle != "Edison Events" %}
            
               {% if content.blog_post_author.display_name == "default" %}
                    {{content.publish_date|datetimeformat('%B %e, %Y')}}
                {% else %}
                    {{ content.blog_post_author.display_name }} . {{content.publish_date|datetimeformat('%B %e, %Y')}}
                {% endif %}
            {% endif %}                
            </div>
        </div>
    </div>
</div>



</section>


<section class="blog-individual-hero-image" style="">
<img src="{{ content.post_list_summary_featured_image }}" />
</section>
<div class="clearfix" style="margin-top:75px;"></div>


<section class="blog-individual-content">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {{content.post_body}}
                </div>
            </div>
            <div class="clearfix" style="margin-top:75px;"></div>
        </div>
    </article>
</section>

{% boolean "has_blog_form" label='Does this post have a form?', value=False, no_wrapper=True, export_to_template_context=True %}
<section class="blog-form" style="{% if widget_data.has_blog_form.value == False %}display: none;{% endif %}">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            {% form "blog_form" %}
            
        </div>
    </div>
</div>
</section>




<section class="sharing-container">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h5 class="fancy">
                    <span>
                        SHARE
                    </span>
                </h5>
            <div class="clearfix" style="margin-top:45px;"></div>
            
            
	 		<div class="share-container">
                <ul class="rrssb-buttons clearfix">
                  <li class="rrssb-facebook">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{content.absolute_url}}" class="popup">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="rrssb-twitter">
                    <a href="https://twitter.com/intent/tweet?text={{ content.name|striptags|urlencode }} via @edisonventure {{content.absolute_url}}"
                    class="popup-off">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                <li class="rrssb-linkedin">
                <!-- Replace href with your meta and URL information --> 
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{content.absolute_url}}&amp;title={{ content.name|striptags }}&amp;summary={{ content.widgets.custom_excerpt.body.value}}" class="popup">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                  
                </a>
              </li>
                </ul>
	 		</div>
            
            
            
            
            </div>
        </div>
    </div>


</section>




<section class="recent-articles">
    <div class="container">
        <div class="clearfix" style="margin-top:45px;"></div>
        <div class="row">
                <h5 class="fancy">
                    <span>
                        RECENT ARTICLES
                    </span>
                </h5>
        </div>
        <div class="clearfix" style="margin-top:45px;"></div>
    </div>
    <div class="container-fluid">
        <div class="row recent-articles-grid row-eq-height">
            {% set rec_posts = blog_recent_posts('edison-blog', 4) %}
            {% for rec_post in rec_posts %}
                  <div class="col-md-3 col-sm-6 col-xs-12 recent-articles-grid-item smart-grid" data-index="{{loop.index}}">
                    <div class="bg-overlay"></div>
                    <div class="post-wrap">
                     <div class="image-bg"  style="background: url({{ rec_post.post_list_summary_featured_image }}) no-repeat;background-size: cover;"></div>
                     <span class="type">
                        {% for topic in rec_post.topic_list %}
                            {% if loop.index == 1 %}
                                {{ topic.name }}
                            {% endif %}
                        {% endfor %}
                     </span>
                     <div class="post-info">
                       <h4 style="color: #fff;">{{rec_post.title}}</h4>
                       <p class="author-date">{{ rec_post.blog_post_author.display_name }} . {{rec_post.publish_date|datetimeformat('%B %e, %Y')}}<p>
                       <p class="teaser">{{rec_post.post_body|trim|striptags|truncate(60, false, "") }}</p>
                       <a href="{{rec_post.absolute_url}}">full article</a>
                     </div>
                    </div>
                  </div>
            {% endfor %}        
        </div>
    </div>
</section>





{% include "custom/page/garfield/footer.html" %}   