 
 /* @import url('http://example.com/example_style.css'); */

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic);

 /***********************************************/
 /* CSS @imports must be at the top of the file */
 /* Add them above this section                 */
 /***********************************************/

 /****************************************/
 /* HubSpot Style Boilerplate            */
 /****************************************/

 /* This responsive framework is required for all styles. */
 {% include "hubspot/styles/responsive/required_base.css" %}

 /* These includes are optional, but helpful. */
 {% include "hubspot/styles/responsive/modules.css" %}
 {% include "hubspot/styles/patches/recommended.css" %}
 {% include "custom/page/Edison_Oct2014_Theme/Edison_Oct2014_modules.css" %}
/*--

*/

/* HubL FUNCTIONS                          */
 /*****************************************/
 {% macro browsers(rule) -%}
    {{ rule }}
    -webkit-{{ rule }}
    -moz-{{ rule }}
    -ms-{{ rule }}
    -o-{{ rule }}
{%- endmacro %}
 /*****************************************/
 /* Start your style declarations here    */
 /*****************************************/

 /*  Template settings */
@font-face {
    font-family: 'Conv_Aileron-UltraLight';
	src: url('http://cdn2.hubspot.net/hub/394660/file-1133420009-eot/fonts/Aileron-UltraLight.eot');
	src: url('http://cdn2.hubspot.net/hub/394660/file-1133719898-woff/fonts/Aileron-UltraLight.woff') format('woff'), url('http://cdn2.hubspot.net/hub/394660/file-1133719903-ttf/fonts/Aileron-UltraLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_Aileron-BlackItalic';
	src: url('http://cdn2.hubspot.net/hub/394660/file-1139152767-eot/fonts/Aileron-BlackItalic.eot');
	src: url('http://cdn2.hubspot.net/hub/394660/file-1139152762-woff/fonts/Aileron-BlackItalic.woff') format('woff'), url('http://cdn2.hubspot.net/hub/394660/file-1139152772-ttf/fonts/Aileron-BlackItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_Aileron-Regular';
	src: url('http://cdn2.hubspot.net/hub/394660/file-1133455109-eot/fonts/Aileron-Regular.eot');
	src: url('http://cdn2.hubspot.net/hub/394660/file-1133739963-woff/fonts/Aileron-Regular.woff') format('woff'), url('http://cdn2.hubspot.net/hub/394660/file-1133420104-ttf/fonts/Aileron-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_Aileron-Light';
	src: url('http://cdn2.hubspot.net/hub/394660/file-1139429135-eot/fonts/Aileron-Light.eot');
	src: url('http://cdn2.hubspot.net/hub/394660/file-1133739988-woff/fonts/Aileron-Light.woff') format('woff'), url('http://cdn2.hubspot.net/hub/394660/file-1133455119-ttf/fonts/Aileron-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_Aileron-Bold';
	src: url('http://cdn2.hubspot.net/hub/394660/file-1136021556-eot/fonts/Aileron-Bold.eot');
	src: url('http://cdn2.hubspot.net/hub/394660/file-1133455129-woff/fonts/Aileron-Bold.woff') format('woff'), url('http://cdn2.hubspot.net/hub/394660/file-1139429160-ttf/fonts/Aileron-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




body{
    margin:0;
    padding:0;
    font-family: 'Conv_Aileron-Light';
    font-size: {{ site_settings.primary_font_size }}px;
    color: {{ site_settings.primary_font_color }};
    background: {{ site_settings.body_color }}
}


.center-block{
    max-width: 1000px;
    {{browsers("box-sizing:border-box;")}}
    margin-left:auto!important;
    margin-right:auto!important;
    float:none!important;
    padding: 0 20px;
}

.footer-container-wrapper .center-block{
    max-width: 100%
}
h1{
    font-family: 'Conv_Aileron-UltraLight';
    font-size:100px;
    line-height:90px;
    margin-bottom:5px;
    margin-top:0;
    font-weight: 100;
}

h2{
    letter-spacing:1px;
}

h3{
    text-transform: uppercase;
    font-size: 24px;
    font-weight:500;
    font-weight:normal;
    color: {{site_settings.primary_accent_color}};
    letter-spacing:1px;
}


h4{
    font-size:20px;
    font-family: 'Conv_Aileron-Bold';
    color:#383838;
    margin-bottom:0;
}

p{
    font-size:16px;
    line-height:23px;
}

strong, b {
font-family: 'Conv_Aileron-Bold';
font-weight:normal !important;
letter-spacing:.5px;
}

a{color:#778e1d; text-decoration:none;}
a:hover{text-decoration:underline;}

.black-strip{
    background:black;
    color:white;
}
.black-strip a{
    color:{{site_settings.secondary_accent_color}};
    text-decoration:none;
}
.main-nav{
    text-align:right;
    padding-top:13px;
    padding-bottom: 7px;
}
.main-nav a{
    color:white;
    text-transform:uppercase;
    font-size:12px;
}

.main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(7) {
    background-color:#2d2d2d;
}

.main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(8) {
    background-color:#5d5d5d;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
padding: 10px 16px;
letter-spacing: 0.8px;
}

.main-nav .active a, .main-nav .active-branch .active-branch a{ 
    color:#778e1d;
}

.hs-content-id-1183229576 .main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(5) a, .hs-content-id-1183135381 .main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(5) a,
.upcoming-events-page .main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(5) a{
    color:#778e1d;
}

.hs-blog-id-1076994662 .main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(4) a,
.success-stories-page .main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(2) a{
    color:#778e1d;
}

.hs-content-id-1187489569 .main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(1) a,
.hs-content-id-1211138556 .main-nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:nth-child(1) a{
    color:#778e1d;
}


.header-strip{
    padding:2px;
    height:67px;
    font-size:90%;
    letter-spacing: 1.5px
}
.simple-header-strip{
    text-align:center;
}
.simple-header-strip h1{
   
}
.dark-grey-strip{
    background-color: #3d3d3d;
    margin-bottom:15px;
}
.logo{
    height:100%;
}
.logo *{
    display:inline-block;
}


/*TEAM PAGE */

.team-title-strip{
    background-image: url('http://cdn2.hubspot.net/hub/394660/file-1137965091-jpg/subpage-main-bg.jpg');
background-repeat: no-repeat;
background-position: bottom center;
    padding-bottom:30px;
}
.team-title{
    text-align:center;
    margin-top:50px;
    display: table !important;
height: 300px;
}

.title-inner{
display: table-cell !important;
vertical-align: middle !important;
}

.team-img{
    height:300px;
    margin-top:50px;
}
.team-title-strip .team-img-wrapper{
    
    
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    {{browsers("box-sizing:border-box;")}}

}
.team-title-strip .team-img-wrapper img{
    border: solid 1px #ddd;
}
.team-contact-strip{
    padding:8px;
    background: #141414;
}
.team-contact-strip .widget-type-rich_text{
    min-height: 0!important;
    margin-top:8px;
    color: #d5d5d5;
    
}

.team-contact-strip strong, .team-contact-strip b{
    font-size:18px;
    font-family: 'Conv_Aileron-Regular';
    
}

.member-contact-info{ 
    width:initial !important;
}

.team-contact-strip .linked{
    margin-top:-28px;
    width:initial;
    float:right;
}

.team-contact-strip .linked span{
    float:right;
}




.team-contact-strip .linked img{
    max-height: 34px;
}
.quote-strip{
    background: #3d3d3d;
    padding: 50px 0;
}
.team-quote{
    color:white;
    margin: 30px 0px;
    font-size:18px;
    font-family: 'Droid Serif', serif;
    font-style: normal;
    line-height:1.8;
    position:relative;

}
.team-quote:before{
    content: open-quote;
    position:absolute;
    left:-30px;
    top:-40px;
    font-size: 50px;
    color: {{site_settings.secondary_accent_color}};
}
.team-quote:after{
    content: close-quote;
    position:absolute;
    right:-20px;
    bottom:-50px;
    font-size: 50px;
    color: {{site_settings.secondary_accent_color}};
}
.team-quote-lightbulb{
    text-align:center;
}
.team-quote-lightbulb div{
    height:100%;
}
.team-quote-lightbulb img{
    width: auto !important;
    max-width: 100px;
    max-height:100%;
}


.team-pov .tan-inner{
    text-align:center;
    max-width:750px;
}


.team-quote-wrap .hero-quote span{
    text-align:left;
    font-size:18px;
    line-height:30px;
    font-weight:300;
    font-style: italic;
    color:#ffffff;
    font-family: 'Droid Serif', serif;
}

.team-quote-wrap .hero-quote span span:after{
    content: url('http://cdn2.hubspot.net/hub/394660/file-1128794338-png/right-quote.png');
    margin-left:5px;
    
}

.team-quote-wrap .hero-quote{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1128794333-png/left-quote.png');
    background-repeat:no-repeat;
    background-position:top left;
    padding-left:28px;
}

.full-bio{
    border-left:1px solid #d7d7d7;
    padding-left:2.564102564%;
}

.bio-full-width{
    border:0;
    padding:0 150px;
}

.full-bio h3{
    margin-top:0;
}



#contentTeam span{
    font-size:16px;
    line-height:23px;
}

#contentTeam p{
    margin-top:0;
}

.team-pov{
    padding-bottom:0 !important;
}

.sector-focus{
    text-align:center;
    background-color:#f1f1f1;
    border:1px solid #d6d6d6;
    padding: 0 20px 20px;
    
}

.sector-focus .sector-focus-industry {
    background-image: url('http://cdn2.hubspot.net/hub/394660/file-1137316529-png/portfolio-active.png');
background-repeat: no-repeat;
border: transparent 6px solid;
border-radius: 0;
color: #778e1d;
display: inline-block;
padding: 30px 0 0 0;
white-space: pre-line!important;
max-width: 100%;
width: 100%;
height: 222px;
background-position: center center;
word-spacing: 500px;
margin-top:20px;
}

.sector-focus .sector-focus-industry h4{
    color: #778e1d;
}


/********************* LightBox**************************/

.javascript{
    display:none;
}
.colorbox-container{
    max-width:900px;
    position:relative;
    color: {{color_variant(site_settings.primary_font_color, +52)}};
    background:transparent;
    
}
.lightbox-visible{
    background:white;
    position:relative;
    max-width: 900px;
    border-top:solid 4px {{site_settings.primary_accent_color}};
    padding:30px;
}
.colorbox-container h2{
    margin-top:4px;
    margin-bottom:4px;
    font-family: 'Conv_Aileron-Bold';
    font-weight:normal !important;
    font-size:24px;
}

.directors-container .industries-content{
    line-height:20px;
}

h3.title-info{
    color:#797979;
    font-size:24px;
    text-transform:none !important;
    margin-top:0;
    margin-bottom:15px;
}

.hs-blog-name-team.hs-blog-post h3.title-info{
    text-transform: uppercase !important;
font-size: 24px;
font-weight: 500;
font-weight: normal;
color: #768D19;
margin-top:15px;
letter-spacing: 1px;
}

.aquiredBy{
    font-size:16px;
}

.investment-status-text{
    font-size:18px;
}

.lightbulb-top{
    cursor:pointer;
    padding-bottom:15px; 
    text-align:center; 
    height: 110px;
}
.colorbox-image-wrapper{
    overflow:hidden;
    display:table-cell !important;
    vertical-align:middle;
    text-align:center;
}

.portfolio .lightbox-visible .widget-type-raw_jinja{
    display:table !important;
    height:275px;
    width:330px;
    border:1px solid #d6d6d6;
}

.portfolio .lightbox-visible .industries-content .widget-type-raw_jinja{
    height:inherit;
    width:100% !important;
    border:0;
}

.lightbox-visible {
min-width: 900px;
}

.colorbox-image-wrapper img{
    height:inherit;
    max-height:300px;
    max-width:230px;
}
.lightbox-below{margin-top:15px;}


/*SELCT the ADDRESS and make it compact */
.industries-content .address p{
    margin:0;
}
.industries-content .address{
    margin-bottom:15px;
}
.colorbox-container a{
    color: {{ site_settings.primary_accent_color }};
    text-decoration:none;
    font-family: 'Conv_Aileron-Bold';
}

.lightbox-below img{
    float:left;
    margin-top:-6px;
}
.lightbox-below a{
    margin-left: 10px;
    margin-top:16px;
    display:inline-block;
}


.lightbox-below .sub-team a{
    margin-top:0;
}


.sub-team.team-name span,
.sub-block.dark{
    margin-top:16px;
    display:inline-block;
    font-size:18px;
    font-family: 'Conv_Aileron-UltraLight';
    line-height: 20px;
letter-spacing: .5px;
}
.colorbox-container .lightbox-below .row-fluid .sub-team{
    padding:10px;
    height:75px;
    background: #444;
    color: white;
    margin-left:2px;
    line-height:55px;
}
.lightbox-below .row-fluid .sub-team{
    width:auto;
}

.sub-team.team-name{
    line-height:20px;
}

.lightbox-below .sub-team >div{
    height:100%;
    overflow:hidden;
}

.team-side-director.team-side-content p{
    margin:6px 0 0;
}

.team-side-director.team-side-content{
    margin-bottom:20px;
}


/***************************Directors page************************/
.directors-container .profile-wrapper{
    background: #eee;
}
.directors-container .profile-wrapper .profile-info{
    padding: 20px;
    font-size:14px;
}
.directors-container .profile-wrapper .profile-info div{
    margin-bottom:5px;
}
.directors-container .profile-wrapper .location:before{
    content: "Location: ";
    font-family: 'Conv_Aileron-Bold';
    display:inline;
    font-size:16px;
}
.directors-container .profile-wrapper .expertise:before{
    content:"Industry Expertise: ";
    font-family: 'Conv_Aileron-Bold';
    font-size:16px;
}
.directors-container .profile-wrapper .functional-expertise:before{
    content:"Functional Expertise: ";
    font-family: 'Conv_Aileron-Bold';
    font-size:16px;
}
.directors-below{
    color:white;
    margin-top:15px;
}
.directors-below .row-fluid{
    width: auto !important;
    float:left;
    margin-bottom: 8px;
}
.directors-below .row-fluid:first-child{
    margin-right:20px;
}
.directors-below .row-fluid .sub-block,.directors-below .row-fluid .curr-company,.directors-below .row-fluid .edn-company{
    padding: 15px;
    float:left;
    width:auto;
    padding:10px;
    height:75px;
    line-height:55px;
    background: #444;
    margin:0;
    margin-left:2px;
}

.directors-below img{
    margin:0 auto;
    max-width:45px;
    max-height:45px;
}
.linkedIn-director{
    position:absolute;
    top:15px;
    right:15px;
    width:auto !important;
}

.directors-below .img-wrapper-outer{
    display:table !important;
    background: white !important;
    height:53px;
    width:53px;
    text-align:center;
    float:left;
    margin-right:10px !important;
}

.directors-below .img-wrapper-inner{
    display:table-cell !important;
    vertical-align:middle;
    line-height:normal !important;
}

.directors-below a{
    float:left;
}

/*****Blog Listing FILTER ITEMS**********/

.post-item.mix{
    display:none;
    /*Do not change this rule.  All others can be changed.*/
}

.post-item {
    outline:0;
    width: 23%;
    margin-left:1%;
    margin-right:1%;
    border: solid 1px #ddd;
    margin-bottom: 20px;
    float: left;
    position:relative;
    color:inherit;
    text-decoration:inherit;
    display:block;
    cursor:pointer;

    {{ browsers("box-sizing:border-box;") }}
}

.hs-blog-name-edison-blog .post-item{
    cursor:default;
}

.twitter{
}

.recaptcha_area{
    margin-bottom:15px;
}

.blog-topics{
    margin:30px 0 50px;
}


.post-item.colorboxLink:hover{
    border-color: #768D19;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
text-decoration:none !important;
}

.post-item .list-img-contain{
    height:190px;
    display:block;
    
}

.portfolio .post-item .list-img-contain{
    background-size: contain !important;
    
    
}
.post-item h3, .post-item h4{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: center;
    margin:15px 15px 5px 15px;
}

.post-item.colorboxLink:hover h3, .post-item.colorboxLink:hover h4{

}

.post-item h4{
    font-family: 'Conv_Aileron-Regular';
    color: #565656;
    margin-top:5px;
    margin-bottom: 15px;
    text-transform:uppercase;
    font-size:14px !important;
}
.portfolio .post-item{
    padding: 15px;

    background:white;
}
.director-name .first-name{
    font-family: 'Conv_Aileron-Light';
    text-transform:none !important;
}

.director-name .last-name{
    font-family: 'Conv_Aileron-Bold';
    text-transform:none !important;
}
.filter-buttons-strip{
    margin-bottom:100px;
}

.portfolio .filter-buttons-strip{
    margin-bottom:40px;
}

.filter-list{
    color:white;
    text-transform: uppercase;
    font-weight:200;
    list-style-type:none;
    font-size: 16px;
    float:right;
    margin-top: 16px;
}

.hs-blog-id-1076994662 .filter-list, .hs-content-path-team .filter-list{
    float:none;
text-align: center !important;
display: inline-block;
margin-left: 0;
padding-left: 0;
margin-top:20px;
}

.hs-blog-id-1076994662 .filter-buttons-strip, .hs-content-path-team .filter-buttons-strip{
    text-align:center;
}




.filter-list li{
    float:left;
    padding: 10px 15px;
    margin: 0 5px;
}
.filter-buttons-strip h4{
    color:white;
    font-style: italic;
    font-weight: 600;
    font-size: 120%;
}

.filter-buttons-strip{
    position:relative;
}

.filter-buttons-strip h3{
    font-weight: normal;
font-style: normal;
font-size: 30px;
color:#ffffff;
font-family: 'Conv_Aileron-BlackItalic';
text-transform: none!important;
letter-spacing: 1px;
margin:15px 0;
}

.sub-filter-list{
    background: #5d5d5d;
    position: absolute;
    text-align:center;
    top:100%;
    width:100%;
    left:0;
}
.filter-list .sub-filter-list li{
    float:none;
    display:inline-block;
    margin:8px;
}

.filter-list span, .filter-list .filter {
    cursor: pointer;
}
.filter-list .active-category, .filter-list .filter.active{
    background:#333;
}

.filter-buttons-strip{
    position:relative;
}
.sub-filter-list{
    background: #5d5d5d;
    position: absolute;
    text-align:center;
    top:100%;
    width:100%;
    left:0;
    padding-left: 0;
}
.filter-list .sub-filter-list li{
    float:none;
    display:inline-block;
    margin:8px;
    font-size:14px;
}
.filter-list li{
    padding: 10px 15px !important;
    margin: 0 5px;
}
.filter-list span, .filter-list .filter {
    cursor: pointer;
}
 .filter-list .filter.active{
    background:#333;
}

.filter-list .active-category{
    background:#5d5d5d;
}


@media (max-width: 767px){
    .post-item{
        width: 49%;
    }
}
@media (max-width: 568px){
    .post-item{
        width:96%;
    }
}


.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
display: inline-block;
padding: 85px 0 0 0;
white-space: pre-line !important;
max-width: 222px;
width: 222px;
height: 131px;
overflow: hidden;
text-overflow: ellipsis;
text-decoration: none;
border-radius:180px;
margin-right:15px;
border:6px solid #e3e3e3;
color:#5d5d5d;
font-size:20px;
font-family: 'Conv_Aileron-Bold';
white-space: normal;
word-spacing: 500px;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
}

.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a:hover{
border:6px solid #3d3d3d;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
}

.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:last-child a{
    margin-right:0;
}

.portfolio-menu{
    margin-top:30px;
    margin-bottom:5px;
}


.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul .active a{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1137316529-png/portfolio-active.png');
    background-repeat:no-repeat;
    border: transparent 6px solid;
    border-radius:0;
    color:#778e1d;
    
}


.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul .active a:hover{
border: transparent 6px solid;
}


.portfolio-intro{
    display:none;
}

.portfolio-intro .widget-type-linked_image{
    float:right;
}

.portfolio-intro h4{
    margin-top:15px;
}

.hs-blog-id-1059990920 .ft{
    display:block;
    margin-bottom:25px;
}

.hs-blog-id-1105447270 .hi{
    display:block;
    margin-bottom:25px;
}

.hs-blog-id-1099840303 .im{
    display:block;
    margin-bottom:25px;
}

.hs-blog-id-1104379782 .e2{
    display:block;
    margin-bottom:25px;
}


/*****   FOOTER   **********/



.footer-container-wrapper{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1121287229-png/edison-footer-bg.png');
    background-position:top center;
    background-repeat:no-repeat;
    background-color:#d2defd;
    border-top:1px solid #789ae6;
    margin-top:80px;
}

.sub-footer-inner{
    max-width:1000px;
    margin:0 auto !important;
    padding: 0 20px;
}

.main-footer{
    margin:80px auto 30px auto;
    max-width:1000px;
    padding: 0 20px;
}

.sub-footer-wrap{
    background-color:#000000;
    margin:15px 0;
    overflow:auto;
}

.footer-container h3{
    font-size:24px; 
    color:#3c3c3d; 
    font-family: 'Conv_Aileron-BlackItalic';
    font-style:normal;
    font-weight:normal;
    border-bottom:1px solid #ffffff;
    text-transform:none;
    padding:15px;
    margin:0 0 15px 0;
}

.footer-form h3{
    border:0;
    padding-left:0;
    margin:0;
}

.footer-events, .footer-rss{
background-image:url('http://cdn2.hubspot.net/hub/394660/file-1123889749-png/footer-rss-bg.png');
border:1px solid #ffffff;
}

.footer-social{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1123889789-png/footer-social-bg.png');
    text-align:center;
    padding:15px 0;
    margin:40px 0 25px;
}

.hs_message .hs-input {height:188px;}

.footer-social a img{
    margin:0 10px;
}

.footer-social img:last-child{
}

.sub-footer-left{float:left; color:#ffffff; font-size:12px; text-transform:uppercase; font-family: 'Conv_Aileron-Regular'; }

.sub-footer-right{float:right;color:#ffffff; font-size:12px; text-transform:uppercase; font-family: 'Conv_Aileron-Regular';}
.sub-footer-right a{color:#ffffff;}

.clearing{clear:both;}


.footer-container .form-title, .widget-type-rss_listing h3{
    display:none;
}

#comment-form input, #comment-form textarea, .blog-subscribe input[type="email"]{
background-color:#ffffff;
border-radius:4px;
border:1px solid #d4d7dd;
margin-bottom:15px;
padding:10px;
font-size:14px;
font-family: 'Conv_Aileron-Regular';
}

.blog-subscribe input[type="email"]{
    margin-top:15px;
    margin-bottom:10px;
}

#comment-form{
    padding:20px;
    background-color: #f1f1f1;
border: 1px solid #d6d6d6;
}

.footer-form input, .footer-form textarea{
background-image:url('http://cdn2.hubspot.net/hub/394660/file-1130350195-png/form-bg.png');
background-color:transparent !important;
border-radius:4px;
border:1px solid #d4d7dd;
margin-bottom:15px;
padding:10px;
font-size:14px;
font-family: 'Conv_Aileron-Regular';
}

.footer-form .hs-button, .blog-subscribe .hs_submit input{
    background-image:none !important;
    background-color:#7292da !important;
    border:2px solid #ffffff;
    width:100%;
    text-align:center;
    color:#ffffff !important;
    font-family: 'Conv_Aileron-Bold';
    font-size:16px;
    border-radius:0 !important;
    cursor:pointer !important;
    
}

.footer-form label{
    display:none;
}

.footer-event1, .footer-event2{
    border-bottom:1px solid #ffffff;
    margin-bottom:15px;
    padding-bottom:15px;
    border-top: 1px solid #ffffff;
    margin-top:15px;
    padding-top:15px;
}

.footer-event3{
    border-bottom:1px solid #ffffff;
    margin-bottom:15px;
    padding-bottom:15px;
}

.footer-event4{
    padding-bottom:15px;
}

.footer-event{
    padding-left:15px;
    padding-right:15px;
}

.footer-event-image{
    background-color:#ffffff;
    height:124px;
    width:36% !important;
    text-align:center;
    display:table !important;
}

.footer-event-image img{
    max-width:130px;
    max-height:110px;
}


.footer-event-image .cell-wrapper{
    display:table-cell;
    vertical-align: middle;
}

.footer-event-text {
    width:61% !important;
    margin-left:2% !important;
}

.footer-event-text h4{
    font-size:18px;
    margin-bottom:0;
    margin-top:0;
}

.footer-event-text p{
    margin-top:0;
    color:#606060;
    line-height:20px;
    font-family: 'Conv_Aileron-Light';
    margin-bottom:5px;
}

.main-footer a{
    color:#7292da;
}

.main-footer h3 a{
    color: #3c3c3d;
}

.main-footer .hs-rss-item {
margin-bottom: 13px;
overflow: hidden;
padding: 0 20px;
border-bottom:1px solid #ffffff;
height:143px !important;
}

.main-footer .hs-rss-item:last-child{
    border:0 !important;
    margin-bottom:0;
}


.footer-rss .hs-rss-date{
    font-size:16px;
    font-family: 'Conv_Aileron-Light';
    display:none;
}

.footer-rss .hs-rss-date::first-line{
    display:block;
    
}

.footer-rss .hs-rss-title{
    font-size: 15px;
margin-bottom: 0;
margin-top: 10px;
font-family: 'Conv_Aileron-Bold';
color: #383838;
}

.footer-rss p {
margin-top: 0;
color: #606060;
line-height: 18px;
font-size:14px;
font-family: 'Conv_Aileron-Light';
}


/*****   HOME PAGE   **********/

.home-hero-inner, .why-edison-inner, .home-patners-code-inner, .success-stories-inner{
    max-width:1000px;
    margin:0 auto;
    padding: 0 20px;
}

.home-hero-inner{
    padding-top:30px;
}

.home-hero-inner img{
    float:left;
}


.caption h4{
    font-family: 'Conv_Aileron-Light';
    font-weight:100 !important;
}

.caption h4 b, h4 strong{
    font-family: 'Conv_Aileron-Bold';
    font-weight:normal !important;
}

.hs_cos_flex-slider .caption {
background-color: transparent;
text-align: center;
}

.home-hero-inner .caption img{
    float:none;
}

.home-hero-inner .hs_cos_flex-slides .hs_cos_flex-slide-main .caption img{
    width:290px !important;
}

.why-edison-inner{
    text-align:center;
}


.edison-code-row1, .edison-code-row2{
    margin-top:30px;
}

.home-partners-code-box{
    text-align:center;
    height:136px !important;
    display:table !important;
    background-color:#ffffff;
    border:1px solid #a5c8e6;
    margin-bottom:-1px;
    font-size:24px;
    color:#797979;
    padding:0 15px;
    margin-top: -8px;
    font-family: 'Conv_Aileron-Light';
}


.home-partners-code-box .cell-wrapper{
    display:table-cell !important;
    vertical-align:middle !important;
}


.home-partners-code1 .row-number-1:after, .home-partners-code2 .row-number-1:after, .home-partners-code3 .row-number-3:after, .home-partners-code4 .row-number-2:after,
.home-partners-code5 .row-number-4:after, .home-partners-code6 .row-number-6:after, .home-partners-code7 .row-number-1:after{
    content: url('http://cdn2.hubspot.net/hub/394660/file-1133375695-png/box-arrow.png');
margin-left: 44.5%;
}

.home-partners-code-below{
    text-align:center;
    font-size:16px;
    font-weight:600;
    color:#797979;
}

.home-partners-code1 .row-number-1:before, .home-partners-code2 .row-number-1:before, .home-partners-code3 .row-number-3:before, .home-partners-code4 .row-number-2:before,
.home-partners-code5 .row-number-4:before, .home-partners-code6 .row-number-6:before, .home-partners-code7 .row-number-1:before, .home-partners-code8:before{
margin-left: 44.5%;
width: 15px;
height: 15px;
text-align: center;
background-color: #778e1d;
border-radius: 15px;
font-size:18px !important;
font-weight:200;
color: #fff;
padding: 4px 9px;
}

.home-partners-code8:before{
    margin-left:0 !important;
    
}

.home-partners-code1 .row-number-1:before{
content: "1";
}

.home-partners-code2 .row-number-1:before{
content: "2";
}

.home-partners-code3 .row-number-3:before{
content: "3";
}

.home-partners-code4 .row-number-2:before{
content: "4";
}

.home-partners-code5 .row-number-4:before{
content: "5";
}

.home-partners-code6 .row-number-6:before{
content: "6";
}

.home-partners-code7 .row-number-1:before{
content: "7";
}

.home-partners-code8:before{
content: "8";
margin: 0 auto;
}

.home-partners-code8a{
    padding:15px 20px 5px;
}

.home-partners-code8-wrap{
    background-color:#3d3d3d;
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1211131081-gif/code8-bg.gif');
    background-repeat:repeat-x;
    background-position:top;
    background-size: 28px 32px;
}

.home-partners-code8{
color:#fafafa;
text-align:center;
font-size:24px;
font-weight:200;
margin-top:40px;
padding:15px 0;
overflow:auto;
}

.home h2{
    text-align:center;
    color:#353535;
    font-weight:normal;
    font-style:normal;
    font-size:40px;
    font-family: 'Conv_Aileron-BlackItalic';
}

.hs_cos_flex-slider h1, .hs_cos_flex-slider h2, .hs_cos_flex-slider h3, .hs_cos_flex-slider h4, .hs_cos_flex-slider h5, .hs_cos_flex-slider h6, .hs_cos_flex-slider p {
    color:#363636;
}

.hs_cos_flex-slider .hs_cos_flex-slides img {
width: initial;
text-align: center !important;
margin: 0 auto;
max-width:350px !important;
}

.hero-quote p{
    text-align:left;
    font-size:18px;
    padding-left:30px;
    line-height:24px;
    font-weight:300;
    font-style: italic;
    color:#000000;
    font-family: 'Droid Serif', serif;
}

.hs-blog-post .hero-quote p {
margin: 0;
padding-left: 0;
}

.hero-quote p:after{
    content: url('http://cdn2.hubspot.net/hub/394660/file-1128794338-png/right-quote.png');
    margin-left:5px;
    
}

.hero-quote{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1128794333-png/left-quote.png');
    background-repeat:no-repeat;
    background-position:top left;
}

.hs_cos_flex-slider .caption {
float:right;
padding: 0 !important;
width: 62% !important;
}

.hs_cos_flex-slider h4{
    margin-bottom:0;
    margin-top:0;
}

.hs_cos_flex-slider h4:after{
    content: url('http://cdn2.hubspot.net/hub/394660/file-1134958830-gif/h4-line.gif');
    margin-left:10px;
}

.hs_cos_flex-slider h4:before{
    content: url('http://cdn2.hubspot.net/hub/394660/file-1134958830-gif/h4-line.gif');
    margin-right:10px;
}



.caption .quote-author{
    text-align:left;
    font-size:16px;
    color:#1c1d1e;
    font-style: italic;
    padding-left:30px;
}

.caption .quote-author b, .caption .quote-author strong{
    text-align:left;
    font-size:18px;
    color:#000000;
    font-style: normal !important;
}

.hs_cos_flex-slider{
    margin:0;
    background: transparent;
}


.why-edison-wrap{
    background-color:#3d3d3d;
    margin-top: -25px;
z-index: 999;
position: relative;
padding-bottom: 60px;
padding-top: 30px;
}

.why-edison-wrap h2, .why-edison-wrap p{
    color:#ffffff !important;
}

.why-edison-wrap h2{
    margin-bottom:0;
}

.why-edison-wrap p{
    font-size:20px;
    font-weight:100;
    max-width: 560px;
margin: 0 auto 50px;
font-family: 'Conv_Aileron-Light';
}

.home-hero-wrap{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1129184983-jpg/hero-bg-city.jpg');
    background-repeat:no-repeat;
    background-position:top center;
}

.home-hero-inner-wrap{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1131271456-gif/hero-squiggles.gif');
    background-repeat:no-repeat;
    background-position:bottom center;
    min-height:700px;

}

.why-edison-reason p{
    color:#ffffff;
    font-weight:500;
    font-size:16px;
    padding:10px 20px;
    margin-top:0;
    margin-bottom:0;
}

.why-edison-reason{
    width:30% !important;
    margin:0 !important;
}
.why-edison-reason2{
    border-left:1px solid #535353;
    border-right:1px solid #535353;
    margin:0 5% !important;
}

.home-partners-code-full-wrap{
    background-color:#fafafa;
    overflow:auto;
}
    
    
    
    
.success-story {
    border:1px solid #d2d4d6;
    padding:20px;
    text-align:center;
}

.success-story .widget-type-linked_image span{
    text-align:center;
    margin:0 auto;
    display:inherit;
}

.success-story .widget-type-linked_image{
    height:55px;
}

.success-story h4{
    color:#797979;
    font-size:20px;
    font-family: 'Conv_Aileron-BlackItalic';
    font-weight:normal;
}

/*****   CTAs   **********/


.blue-rectangle-cta, .more-link{
    color:#7292da;
    text-transform:uppercase;
    border:2px solid #7292da;
    padding:8px 15px;
    text-decoration: none !important;
    font-family: 'Conv_Aileron-Bold';
    font-size:15px;
    letter-spacing:1px;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
white-space: normal !important;
display: inline-block;
cursor:pointer;
}

.hs-form .hs-button{
    color:#7292da !important;
    text-transform:uppercase !important;
    border:2px solid #7292da !important;
    padding:8px 15px !important;
    text-decoration: none !important;
    font-family: 'Conv_Aileron-Bold' !important;
    font-size:15px !important;
    letter-spacing:1px !important;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
white-space: normal!important;
display: inline-block!important;
cursor: pointer!important;
background-image: none !important;
background-color: #ffffff !important;
text-shadow: none !important;
border-radius: 0 !important;
}


.blog-comments .actions .hs-button{
    color:#7292da;
    text-transform:uppercase;
    border:2px solid #7292da !important;
    padding:8px 15px;
    text-decoration: none !important;
    font-family: 'Conv_Aileron-Bold' !important;
    font-size:15px;
    letter-spacing:1px;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
white-space: normal !important;
display: inline-block;
cursor:pointer;
border-radius:0 !important;
background-image:none !important;
}


.blog-comments .actions .hs-button{
    background-color:#ffffff;
}



.blue-rectangle-cta:hover, .more-link:hover, .blog-comments .actions .hs-button:hover, .blog-subscribe .hs_submit input:hover{
    background-color:#7292da !important;
    color:#ffffff;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
}

.hs-form .hs-button:hover{
    background-color:#7292da !important;
    color:#ffffff !important;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
border:2px solid #7292da !important;
box-shadow: none !important;
}


/*****   ABOUT PAGE   **********/

.history-wrap{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1192592641-jpg/numbers-bg.jpg');
    background-repeat:no-repeat;
    background-position:top center;
    padding-bottom:50px;
    padding-top:20px;
    background-attachment:fixed;
}

.history-inner{
    max-width:1050px;
    margin:0 auto;
    text-align:center;
    padding:0 20px;
}

.history-inner h3{
font-weight: normal;
font-style: normal;
font-size: 30px;
font-family: 'Conv_Aileron-BlackItalic';
color:#ffffff;
text-transform:none !important;
}

.stat-number{
    color:#778e1d;
    font-size:70px;
    font-family: 'Conv_Aileron-UltraLight';
    font-weight:100;
    
}

.history-stat{
    width:18% !important;
    margin-right:2.5% !important;
    margin-left:0 !important;
}

.history-stat5{
    margin-right:0 !important;
}

.stat-subtext{
    color:#ffffff;
    font-size:20px;
    line-height:28px;
    text-align:center;
    font-family: 'Conv_Aileron-UltraLight';
    font-weight:100;
}

.edison-edge-section,
.careers-section{
    text-align:center;
    max-width:600px;
    margin:0 auto;
}

.industries-callouts p{
    margin-top:0;
}

.industries-callouts h4{
    margin-top:0;
}

.industry-callout{
    margin-bottom:20px;
}

.industry-callout img{
    text-align:center;
    margin:0 auto;
    display:inherit;
}

.industry-callout p{
    font-size:14px;
    line-height:19px;
}


.industry-callout .widget-type-linked_image {
    text-align:center;
    margin:0 auto;
    display:inherit;
}


.industries-main-content{
    padding-right:40px;
}


.subpage-title-area-wrap{
    background-image:url('http://cdn2.hubspot.net/hub/394660/file-1137965091-jpg/subpage-main-bg.jpg');
    background-repeat:no-repeat;
    background-position:bottom center;
}


.subpage-title-area-inner{
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    padding:50px 20px 60px;
}

.subpage-title-area-wrap h1{
    margin-bottom:65px;
}

.error-title.subpage-title-area-wrap h1{
    margin-bottom:0;
}

.hs-blog-listing .subpage-title-area-wrap h1{
    margin-bottom:0;
}

.contact-page .subpage-title-area-wrap h1{
    margin-bottom:0;
}

.subpage-title-area-wrap p{
    margin-top:0;
    font-size:20px;
    color:#383838;
    font-family: 'Conv_Aileron-Light';
}

.subpage-title-area-inner h2{
    color: #353535;
font-weight: normal;
font-style: normal;
font-size: 40px;
font-family: 'Conv_Aileron-BlackItalic';
margin-top:0;
margin-bottom:0;
}

.white-wrap h3, .tan-wrap h3, .dark-wrap h3{
font-weight: normal;
font-style: normal;
font-size: 30px;
font-family: 'Conv_Aileron-BlackItalic';
text-transform:none !important;
letter-spacing: 1px;
}

.contact-page-form-wrap h3{
    text-align:center;
}

.white-wrap h3, .tan-wrap h3{
    color: #353535;
    }
    
.dark-wrap h3, .dark-wrap p{
    color:#ffffff;
}

.dark-wrap.locations h3{
    text-align:center;
}

.tan-inner, .white-inner, .dark-inner{
    max-width:1000px;
    margin:0 auto;
    padding: 0 20px;
}

.hs-content-id-1211138556 .white-inner{
    max-width:750px;
}

.hs-content-id-1211138556 .white-inner h3{
border-top: 1px solid #cccccc;
padding-top: 25px;
}

.hs-content-id-1211138556 .white-inner h3:first-child{
border-top: 0;
padding-top: 0;
}

.tan-wrap{
    background-color:#fafafa;
    padding:50px 0;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}

.dark-wrap{
    background-color:#2c2c2c;
    padding:50px 0;
}

.white-wrap{
    background-color:#ffffff;
    padding:50px 0;
}

#advisory{
    padding-bottom:0;
}

.white-wrap li, .tan-wrap li, .dark-wrap li{
    margin-bottom: 8px !important;
padding-right: 100px;
}



.hs-content-id-1214419222 .white-inner{
    text-align:center;
}



.tan-wrap.contact-page-form-wrap .tan-inner{
    max-width:500px;
}

.contact-page-form-wrap label{
    display:none;
}

.contact-page-form-wrap .hs_contact_type label, .hs_business_plan label{
    display:block;
}


.contact-page-form-wrap input, .contact-page-form-wrap textarea {
background-image: url('http://cdn2.hubspot.net/hub/394660/file-1130350195-png/form-bg.png');
background-color: transparent!important;
border-radius: 4px;
border: 1px solid #d4d7dd;
margin-bottom: 15px;
padding: 10px;
font-size: 14px;
font-family: 'Conv_Aileron-Regular';
}

.hs_business_plan input{
    border:0 !important;
    background:none !important;
}

.inputs-list.multi-container{
    list-style: none !important;
padding-left: 20px;
}



.contact-location{
    background-color:#ffffff;
    text-align:center;
}

.contact-location p{
    padding:0 20px;
    color:#383838;
}

.contact-location h4{
    margin-bottom:15px;
    margin-top:15px;
}

.contact-location{
    width:230px !important;
    margin-bottom:20px;
}

.contact-location p b, .contact-location p strong{
    font-family: 'Conv_Aileron-Bold';
}







.success-stories-page .section-header h1{
    font-size:40px;
    text-align:center;
    font-family: 'Conv_Aileron-BlackItalic';
    line-height:45px;
}

.success-stories-page .dark-wrap .section-header h1{
    color:#ffffff;
}

.success-stories-page .section-header .secondary-header{
    font-size:20px;
    text-align:center;
    font-family: 'Conv_Aileron-UltraLight';
    margin-top:0;
    margin-bottom: 40px;
}

.success-stories-page .subpage-title-area-wrap h1,
.portfolio-news .subpage-title-area-wrap h1{
margin-bottom: 0;

}

.subpage-title-area-wrap{
    border-bottom:1px solid #cccccc;
}



.success-stories-page h5{
    color:#778e1d;
    font-family: 'Conv_Aileron-UltraLight';
    font-size:50px;
    margin-bottom:0;
    font-weight:100;
    margin-top:0;
}

.success-timeline p{
    margin:0 0 20px 0;
}
    
.success-timeline{
    margin-top:60px;
    padding-top:40px;
    border-top:1px solid #4e4e4e;
}

.tan-wrap .success-timeline, .white-wrap .success-timeline{
    border-top:1px solid #ececec;
}

.success-timeline img{
    margin-top:50px;
}

.success-logo{
    height:160px;
    background-color:#ffffff;
    text-align:center;
    display:table !important;
    border:1px solid #e0e0e0;
}

.success-logo .cell-wrapper{
    display:table-cell;
    vertical-align:middle;
}


.success-stories-page .hero-quote p{
    margin-top:2px;
}

.success-stories-page .tan-wrap .hero-quote p, .success-stories-page .white-wrap .hero-quote p{
    color:#777777;
}

.success-stories-page .quote-author{
    font-size: 16px;
font-style: italic;
padding-left: 30px;
font-family: 'Conv_Aileron-Regular';
}

.success-stories-page .quote-author b, .success-stories-page .quote-author strong{
    font-size: 18px;
font-style: normal;
font-family: 'Conv_Aileron-Bold';
font-weight: 400;
}

.success-stories-page .dark-wrap .quote-author{
    color:#ffffff;
    
}

.success-logo img{
    max-width:240px;
    max-height: 130px;
    width: inherit !important;
}


/*****   Blog   **********/

.hs-blog-header h1{
    text-align:center;
    font-size:100px;
}

.blog-background{
    max-width:1000px;
    margin:0 auto;
    overflow:auto;
    padding: 0 20px;
}

.hs-blog-header-wrap{
    
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 60px;
}

.hs-blog-name-edison-blog .subpage-title-area-wrap, .news .subpage-title-area-wrap,
.hs-content-id-1183229576 .subpage-title-area-wrap, .hs-content-id-1183135381 .subpage-title-area-wrap{
    background-image:url(http://cdn2.hubspot.net/hub/394660/file-1149803005-jpg/blog-banner.jpg);
    background-repeat:no-repeat;
    background-position:bottom center;
}

.hs-blog-name-team .subpage-title-area-wrap, .hs-blog-name-directors .subpage-title-area-wrap{
    background-image:url(http://cdn2.hubspot.net/hub/394660/file-1195893157-jpg/team-header.jpg);
    background-repeat:no-repeat;
    background-position:bottom center;
}





.hs-blog-name-edison-blog.hs-blog-post .subpage-title-area-wrap h1,
.upcoming-events-page .subpage-title-area-wrap h1{
    margin-bottom:0;
}


.blog-content-wrap{
    padding:0 15px;
    padding-top:85px;
    border-top: 1px solid #2f2f2f;
}

.blog-content{
    max-width:1000px;
    margin:0 auto;
    padding: 0;
}

.blog-left{
    border-right:1px solid #e0e0e0;
    width:69.5% !important;
    padding-right:4%;
}

.blog-right{
    width:27.5% !important;
    margin-left:3% !important;
}

.blog-left img{
    padding-left:20px;
    padding-bottom:20px;
}

.blog-content-wrap h2 a{
    font-family: 'Conv_Aileron-BlackItalic';
    font-size:30px;
    color:#3c3c3d;
}

.blog-content-wrap h3{
    font-size:24px;
    color:#3c3c3d;
    font-family: 'Conv_Aileron-BlackItalic';
    text-transform:none;
    margin: 14px 0 0 0;
}

.blog-subscribe{
    border:1px solid #d7d7d7;
    padding:15px;
    background-color:#f6f6f6;
}

.hs-featured-image {
float: right;
margin: 20px 0 20px 20px;
max-width: 50%;
}

/* added by HubSpot Support 11.24 */
.hs-featured-image-link {
    height: 200px;
}

.blog-subscribe h3{
    text-align:center;
    padding:0 20px;
}

.blog-subscribe .hs_submit input{
    background-color: #7292da;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 9px;
    cursor:pointer;
    text-transform:uppercase;
}

.blog-subscribe .hs_submit input:hover{
    background-color:#5C7BC2;
}

.blog-subscribe label{
    display:none;
}
.hs-blog-name-edison-blog .post-listing .post-item, .hs-blog-name-edison-news .post-listing .post-item{
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 55px;
}

.hs-blog-name-edison-blog .post-item h2{
    margin-top: -20px;
}

.all-posts-link{
    float:right;
    color: #778e1d;
    text-transform:uppercase;
    border:2px solid #778e1d;
    padding:8px 15px;
    text-decoration: none !important;
    font-family: 'Conv_Aileron-Bold';
    font-size:15px;
    letter-spacing:1px;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
white-space: normal !important;
display: inline-block;
}



.all-posts-link:hover, .next-posts-link:hover, .previous-posts-link:hover{
    background-color:#778e1d;
    color:#ffffff;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
}

.next-posts-link, .previous-posts-link{
    float:left;
    color: #778e1d;
    text-transform:uppercase;
    border:2px solid #778e1d;
    padding:8px 15px;
    text-decoration: none !important;
    font-family: 'Conv_Aileron-Bold';
    font-size:15px;
    letter-spacing:1px;
    -webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
white-space: normal !important;
display: inline-block;
}

.previous-posts-link {
    margin-right:15px;
}

.twitter #twitter-widget-1, .twitter #twitter-widget-2, .twitter #twitter-widget-0, #twitter-widget-6{
    width:auto!important;
}



.blog-topics ul{
    list-style: none;
    padding-left: 0;
    line-height:32px;
}

.post-listing-simple .post-item{
    width:100%;
    border:none;


}

.post-listing-simple .post-item h2{
    margin:0;
    font-size:21px;
}

.post-listing-simple .post-item h2 a{
    font-size:21px;
}

#hubspot-author_data{
    font-family: 'Conv_Aileron-UltraLight';
    
}
.hs-blog-post.hs-blog-name-edison-blog #hubspot-author_data{
margin-bottom:0;
}

.hs-blog-post.hs-blog-name-edison-blog h2{
    margin-top:0;
}




/*****   News & Events PAGE   **********/


.twitter-ticker {padding: 25px 0 30px 0;}

.news2015 .transaction-box {
background-color: #555;
padding: 20px;
text-align: center;
margin-bottom: 40px;
max-width: calc(100% - 15px);
}

@media (max-width: 767px){
.news2015 .transaction-box {
max-width: 100%;
}


} 
    


.recent-transactions h2 {margin: 65px 0 45px 0;}

.news2015 .transaction-box .widget-type-linked_image span {background-color: #fff; 
padding: 1px 10px;
display: inline-block;
line-height: 80px;
}
.news2015 .transaction-box .widget-type-linked_image span img {vertical-align: middle;}


.news2015 .transaction-box h3 {color: #fff !important; padding: 0 20px 20px 20px;}

.edison-news-feed h3 {
display: block;
text-align: center;
color: #fff;
font-weight: normal;
font-style: normal;
font-size: 40px;
font-family: 'Conv_Aileron-BlackItalic';
margin-top: 65px;
}

.all-edison-news {display: none;}

.hs-blog-name-edison-news .blog-left ..all-edison-news {display: block !important;}


.edison-news-feed .hs-rss-date {color: #ccc; font-size: 16px;}

.edison-news-feed .hs-rss-title {color: #fff; font-size: 17px; font-family: 'Conv_Aileron-Bold';}

.edison-news-feed .hs-rss-item-text p {margin: 0; font-size: 15px;}

.edison-news-feed .hs-rss-item {margin-bottom: 35px; border-bottom: none !important;}

.news .subpage-title-area-inner{
    padding:45px 20px 0;
}

.news h2{
    text-align:center;
    color:#fff;
    font-weight:normal;
    font-style:normal;
    font-size:40px;
    font-family: 'Conv_Aileron-BlackItalic';
}

.transaction-box{
    background-color:#fff;
    padding:30px;
    text-align:center;
}

.transaction-box h3, .transaction-box p{
    color:#797979;
}

.transaction-box p{
    margin-top:0;
}

.transaction-box h3{
    font-size:20px;
    margin-bottom:0;
}

.recent-logo-wrap{
    text-align:center;
}

.recent-logo-wrap img{
    max-height: 70px;
height: inherit !important;
width: inherit !important;
}

.news .dark-wrap{
    padding-top:0;
    overflow:auto;
}

.tan-wrap{
    overflow:auto;
}

.learn-more{
    color: #7292da;
    background: none;
    border: 2px solid #7292da;
    padding: 7px 20px;
    cursor:pointer;
    text-transform:uppercase;
}

.learn-more:hover{
    background-color:#7292da;
    color:#fff;
}

.upcoming-events h2, .upcoming-events p .upcoming-events h3{
    color:#383838;
}

.upcoming-events p{
    margin:0;
    color:#606060;
}

.upcoming-events h3{
    margin:0;
    font-size:18px!important;
    font-family: 'Conv_Aileron-BlackItalic';
    font-size:18px;
}



.center-upcoming-event{
    margin:30px;
}

.view-upcoming-events{
    color: #7292da;
    background: none;
    border: 2px solid #7292da;
    padding: 7px 20px;
    cursor:pointer;
    text-transform:uppercase;
    font-size:16px;
}

.view-upcoming-events:hover{
    background-color:#7292da;
    color:#fff;
}

.upcoming-events-page .upcoming-event{
    margin-bottom:20px;
}

.upcoming-event .widget-type-linked_image{
    background-color: #fff;
height: 124px;
width: 163px!important;
text-align: center;
display: table!important;
border: 1px solid #e4e4e4!important;
}

.upcoming-event .widget-type-linked_image .cell-wrapper {
display: table-cell;
vertical-align: middle;
}

.upcoming-events img{
   /* max-width:80%;
    width:100% !important; HS Support 4/19/16*/
    height:inherit !important;
}

.upcoming-events{
    max-width:800px;
}

.upcoming-button{
    border-top:1px solid #e0e0e0;
    padding:30px;
    margin:30px;
}

.hide-rss .hs-rss-item:nth-child(1), .hide-rss .hs-rss-item:nth-child(2), .hide-rss .hs-rss-item:nth-child(3){
    display:none;
}

.dark-wrap .hs-rss-item{
    padding-right:30px;
}

.rss-feed .hs-rss-title{
    color:#fff;
    font-size:18px;
    font-family: 'Conv_Aileron-BlackItalic';
    letter-spacing:1px;
    
}

.rss-feed .hs-rss-description p{
    font-size:14px;
    line-height: 18px;
    margin-top: 0;
}

.rss-feed .hs-rss-date{
    color:#fff;
}

.blog-feed-title h2{
    margin-top:0;
}

.blog-feed-title{
    margin-top:50px;
}

.partner-portfolio-news h2{
    color:#383838;
    text-align:left;
}







.advisory-areas img{
    max-width:180px;
}

.advisory-areas .widget-type-text {
    color:#778e1d;
    font-size:80px;
    font-family: 'Conv_Aileron-UltraLight';
    text-align:right;
    margin-top:15px;
}

.advisory-areas{
    max-width:800px;
    margin:0 auto;
}

.advisory-areas p{
    margin-top:0;
    font-size:14px;
}


.edison-edge-quote.dark-wrap{
    padding-bottom:0;
}

.edison-edge-quote.dark-wrap .dark-inner{
    max-width:800px;
}

.edison-edge-quote.dark-wrap .hero-quote p {
text-align: left;
font-size: 18px;
padding-left: 30px;
line-height: 26px;
font-weight: 300;
font-style: italic;
color: #ffffff;
font-family: 'Droid Serif',serif;
padding-right: 0;
margin-top: 0;
margin-top: 0;
}

.edison-edge-quote.dark-wrap{
background-image:url('http://cdn2.hubspot.net/hub/394660/file-1190564794-jpg/edge-quote-bg.jpg');
background-position:top center;
background-repeat:no-repeat;
background-attachment:fixed;
}

.edison-edge-quote .quote-author{
    font-size: 18px;
font-style: italic;
padding-left: 30px;
font-family: 'Conv_Aileron-Regular';
color:#ffffff;
}

.edison-edge-quote .quote-author b, .edison-edge-quote .quote-author strong{
    font-size: 20px;
font-style: normal;
font-family: 'Conv_Aileron-Bold';
color:#ffffff;
font-weight: 400;
}



.edison-edge-quote .hero-quote{
    margin-top:50px;
}

.edison-edge-manifesto{
    margin:0 auto;
    max-width:720px;
    text-align:center !important;
}

.events-section.dark-wrap{
background-image:url('http://cdn2.hubspot.net/hub/394660/file-1196349032-jpg/edge-events-bg.jpg');
background-position:top center;
background-repeat:no-repeat;
background-attachment:fixed;
}

.edison-edge .tan-wrap .widget-type-linked_image, .edison-edge .dark-wrap.events-section .widget-type-linked_image{
    float:right;
}

.events-section .widget-type-rich_text{
    margin-left:0 !important;
}

.events-section .widget-type-linked_image{
margin-left: 1.564102564% !important;
}

.404-message .dark-inner, .404-message .dark-inner h3, .404-message .dark-inner p{
    text-align:center;
}


#recaptcha_area, #recaptcha_table {
margin-bottom: 20px;
}


@media (max-width: 1100px){
    
.stat-number {
color: #778e1d;
font-size: 55px;}

.contact-location {
width: 200px!important;
margin-bottom: 20px;
overflow: hidden;
}

}



@media (max-width: 1010px){
    .footer-container h3 {
font-size: 22px;
}

.footer-event-text p {
font-size:14px;
}

.footer-rss .hs-rss-title {
font-size:13px;
}


.footer-rss p {
font-size: 12px;
}

.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
padding: 76px 0 0 0;
max-width: 200px;
width: 200px;
height: 120px;
}

.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul .active a {
background-size: 206px;
}


.hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
padding: 10px 14px;
}

h1 {
font-size: 80px;
}


.home .hero-quote p {
padding-right: 30px;
}


    
}









@media (max-width: 767px){
    
    
    
    .lightbox-visible {
min-width: 0;
}
    
    p {
font-size: 12px;
line-height: 18px;
}

.subpage-title-area-inner h2 {
font-size: 28px;
}

.success-stories-page .quote-author {
font-size: 14px;
}
 
.success-stories-page .quote-author b, .success-stories-page .quote-author strong {
font-size: 16px;
}

.success-stories-page .section-header .secondary-header {
font-size: 18px;
margin-bottom: 20px;
line-height: 23px;
}
 
    
    .home-partners-code-box {
width: 100% !important;
}

.home-partners-code1 .row-number-1:before, .home-partners-code2 .row-number-1:before, .home-partners-code3 .row-number-3:before, .home-partners-code4 .row-number-2:before, .home-partners-code5 .row-number-4:before, .home-partners-code6 .row-number-6:before, .home-partners-code7 .row-number-1:before, .home-partners-code8:before {
margin-left: 46%;}

.home-partners-code1 .row-number-1:after, .home-partners-code2 .row-number-1:after, .home-partners-code3 .row-number-3:after, .home-partners-code4 .row-number-2:after, .home-partners-code5 .row-number-4:after, .home-partners-code6 .row-number-6:after, .home-partners-code7 .row-number-1:after {
content: url('http://cdn2.hubspot.net/hub/394660/file-1133375695-png/box-arrow.png');
margin-left: 44.8%;
}

.home-partners-code-below {
margin-bottom: 25px;
}


.success-story {
margin-bottom: 20px;
}

.main-footer .hs-rss-item {
height: inherit !important;
}

.footer-events, .footer-rss {
margin-top: 20px;
text-align:center !important;
}

.footer-event-text {
width: 98%!important;
margin-left: 0!important;
}


.footer-event-image {
width: 100%!important;
margin-bottom: 15px;
}


.footer-form h3 {
text-align: center;
}

.home-partners-code8 {
margin-top: 0px;

}

.why-edison-reason {
width: 100%!important;
margin: 0 0 15px 0!important;
}

.why-edison-reason2 {
border-left: 0;
border-right: 0;
margin: 0 0 15px 0!important;
}


.hs_cos_flex-slider .caption {
float: right;
width: 100%!important;
}

h1, .hs-blog-header h1 {
font-family: 'Conv_Aileron-UltraLight';
font-size: 48px;
line-height: 55px;
}

.hs_cos_flex-slider h4:after, .hs_cos_flex-slider h4:before {
content: "";
margin:0;
}

.hs_cos_flex-slider .hs_cos_flex-slides img {
display: none;
}

.home-hero-inner .hs_cos_flex-slides .hs_cos_flex-slide-main .caption img {
display:block;
}

.hero-quote p {
font-size: 15px;
}

.home-hero-inner .hs_cos_flex-slides .hs_cos_flex-slide-main .caption img {
width: 200px!important;
}

.why-edison-wrap {
margin-top:0;
}

.home-hero-inner-wrap {
min-height: inherit;
}

.home h2 {
font-size: 28px;
}


.why-edison-wrap p {
font-size: 18px;
margin: 10px auto 20px;
}

.home-partners-code-box, .home-partners-code8 {
font-size: 20px;
}

.success-story h4 {
font-size: 18px;
}

.footer-container h3 {
font-size: 21px;
}

.success-stories-page .section-header h1 {
font-size: 28px;
line-height: 35px;
}

.success-logo {
width: 100% !important;
margin-top:15px;
}

.success-timeline {
text-align: center;
}

.success-stories-page h5 {
font-size: 42px;
}

.success-timeline img {
margin-top: 20px;
margin-bottom: 20px;
max-width: 200px;
}

.subpage-title-area-wrap p {
font-size: 18px;
line-height: 22px;
}


.history-stat {
width: 100%!important;
margin-right: 0;
margin-left: 0;
}

.stat-number {
font-size: 50px;
}

.stat-subtext {
font-size: 18px;
line-height: 25px;
margin-bottom: 15px;
}

.white-wrap h3, .tan-wrap h3, .dark-wrap h3 {
font-size: 21px;
}

.industry-callout p {
font-size: 12px;
line-height: 18px;
}

.industry-callout {
text-align: center;
}

.industry-callouts{
    margin-top:20px;
}

.blue-rectangle-cta, .more-link {
font-size: 13px;
}

.portfolio-menu {
display: block !important;
}

.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul .active a {
background-size: 150px 150px;
}

.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
padding: 62px 0 0 0;
max-width: 160px;
width: 160px;
height: 95px;
border-radius: 180px;
font-size: 14px;
margin-bottom:0;
margin-right: 0;

}

.hs-blog-id-1072254574 .post-item, .hs-blog-id-1076994662 .post-item {
width: 31%;
}

.portfolio .post-item {
width: 48%;
}

.post-item .list-img-contain {
height: 90px;
}

.filter-buttons-strip h3 {
text-align: center;
}

.center-block{
    text-align:center;
}

.filter-list {
color: white;
text-transform: uppercase;
font-weight: 200;
list-style-type: none;
font-size: 14px;
float: none;
margin-top: 16px;
margin: 0px auto 20px;
text-align: center;
padding: 0;
width: initial !important;
overflow: auto;
display: inline-block;
}

.hs-blog-id-1072254574 .post-item .list-img-contain, .hs-blog-id-1076994662 .post-item .list-img-contain{
height: 140px;
}

h3.director-name {
font-size: 16px !important;
}

.post-item h4 {
font-family: 'Conv_Aileron-Regular';
color: #565656;
margin-top: 5px;
margin-bottom: 15px;
text-transform: uppercase;
font-size: 12px!important;

}

.team-contact-strip .linked span {
float: none;
}

.team-contact-strip .linked {
margin-top: 15px;
width: initial;
float: none;
margin-bottom: 10px;
}


.upcoming-event .widget-type-linked_image {
background-color: #fff;
height: 124px;
width: 100%!important;
text-align: center;
display: table!important;
border: 1px solid #e4e4e4!important;
max-width: 80%;
margin-left: 10% !important;
margin-bottom:15px;
}

.upcoming-events img {
max-width: 180px;
width: 100%!important;
height: inherit!important;
}

.upcoming-events-page .upcoming-event {
margin-bottom: 20px;
text-align: center;
padding-bottom: 15px;}

.edison-edge .tan-wrap .widget-type-linked_image, .edison-edge .dark-wrap.events-section .widget-type-linked_image {
float: none;
}

.edison-edge .tan-inner, .edison-edge .white-inner, .edison-edge .dark-inner{
    text-align:center;
}

.edison-edge .tan-inner img, .edison-edge .white-inner img, .edison-edge .dark-inner img{
    max-width:180px;

}

.industries-main-content {
padding-right: 0;
}

.advisory-areas .widget-type-text {
font-size: 50px;
text-align: center;
}

.advisory-areas h4{
    margin-top:0;
}

h4 {
font-size: 17px;
}

.subpage-title-area-inner {
padding: 30px 20px 30px;
}

.subpage-title-area-wrap h1 {
margin-bottom: 20px;
}

.edison-edge-quote .quote-author {
font-size: 18px;
font-style: italic;
padding-left: 30px;
font-family: 'Conv_Aileron-Regular';
color: #fff;
margin-bottom: 30px;}

.caption .quote-author {
text-align: left;
font-size: 14px;
color: #1c1d1e;
font-style: italic;
padding-left: 30px;
}

.caption .quote-author b, .caption .quote-author strong {
text-align: left;
font-size: 16px;
color: #000;
font-style: normal!important;
}

.news .subpage-title-area-inner {
padding: 15px 20px 0;
}

.blog-left {
border-right: 0;
width: 100%!important;
padding-right: 0;
}

.history-inner h3{
    font-size:21px;
}

.blog-content-wrap h2 a {
font-size: 21px;
}

.hs-featured-image {
float: right;
margin: 20px 0 20px 0px;
max-width: 50%;
}

.hs-blog-name-edison-blog .post-listing .post-item {
padding-bottom: 20px;
}

.blog-right {
width: 100%!important;
margin-left: 0 !important;
}

.blog-topics {
text-align: center;
}

.blog-content-wrap {
padding-top: 20px;
}

#comment-form {
margin-bottom: 50px;
}

.edison-edge-quote.dark-wrap .hero-quote p {
font-size: 15px;
line-height: 23px;
}

.edison-edge-quote .quote-author b, .edison-edge-quote .quote-author strong {
font-size: 16px;
}

.edison-edge-quote .quote-author {
font-size: 14px;
}

.transaction-box {
margin-top: 20px;
}


.news h2 {
font-size: 28px;
}

.upcoming-event{
    text-align:center;
}

.upcoming-button, .center-upcoming-event {
margin-right:0;
}

.dark-wrap .rss-feed{
    margin-top:30px;
    text-align:center;
}

.dark-wrap .hs-rss-item {
padding-right: 0;
border-bottom: 1px solid;
}

.hide-rss .hs-rss-item:last-child{
    border-bottom:0;
}

.contact-location {
width: 100%!important;
margin-bottom: 20px;
padding: 1px 0 10px;
}

.portfolio-intro .widget-type-linked_image{
    float:none; 
}

.portfolio-intro{
    text-align:center;
}

.portfolio-intro img{
    max-width:180px;
}

.filter-list li {
float: none;
}

.filter-list .sub-filter-list li {
width: 100%;
padding-left: 0 !important;
margin-left: 0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
font-size:12px;
}

.team-posts-strip{
}

.filter-list li {
padding: 10px 0px!important;
}

.hs-blog-id-1076994662 .filter-list, .hs-content-path-team .filter-list {
width: 100% !important;
}

.team-title {
text-align: center;
margin-top: 30px;
display: table!important;
height: inherit;
width: 100% !important;
}

.hs-blog-post .team-img {
margin-top: 20px;
}

.full-bio {
border-left: 0;
padding-left: 0;
}

.portfolio .lightbox-visible .widget-type-raw_jinja {
width: 100%;
}

.bio-full-width{
    border:0;
    padding:0;
}

.team-quote-lightbulb {
margin-top:20px;
}

.directors-container .profile-wrapper {
width: 100% !important;
margin-top: 35px;
}

.directors-container .colorbox-image-wrapper {
overflow: hidden;
display: inherit !important;
vertical-align: middle;
text-align: center;
}

.linkedIn-director {
right: 45%;
}

.industries-container .colorbox-image-wrapper img {
max-width: 80%;}

.directors-container .industries-content {
font-size: 12px;
line-height: 18px;
}

.directors-container h3.title-info, .colorbox-container h2 {
font-size: 20px;
text-align:center;
}

.colorbox-container h2{
    margin-top:15px;
}

.directors-container .profile-wrapper .profile-info {
text-align: center;
}


.upcoming-events h2{
    font-size: 28px !important;
}

.portfolio .lightbox-visible .widget-type-raw_jinja {
    height: 200px;
}



}

@media (max-width: 568px){
.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
padding: 62px 0 0 0;
max-width: 160px;
width: 160px;
height: 157px;
border-radius: 180px;
font-size: 14px;
margin-bottom:0;
margin-right: 0;

}

.sector-focus .sector-focus-industry {
    background-size: 195px;
}

.hs-blog-id-1072254574 .post-item, .hs-blog-id-1076994662 .post-item {
width: 48%;
}

.hs-blog-id-1072254574 .post-item .list-img-contain, .hs-blog-id-1076994662 .post-item .list-img-contain{
height: 160px;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
float: left !important;
width: 48%;
margin-bottom: 10px;
}

.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    padding: 48px 0px 0px;
    max-width: 160px;
    width: 130px;
    height: 130px;
    border-radius: 180px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul .active a {
    background-size: 123px;
}


}

.hs-button {
-webkit-appearance: none;
}

#slab li a {
display: block;
padding: 15px 15px 5px;
font-size:16px;
text-align:center;
}

#slab li:last-child a{
    padding-bottom:15px;
}

.upcoming-events h2 {
color: #383838;
font-style: normal;
font-size: 40px;
font-family: 'Conv_Aileron-BlackItalic';
margin-top: 0;
margin-bottom: 60px;
text-align: center;
}

.hs-blog-name-edison-blog img{
    height:inherit !important;
}

.blog-left img{
    padding-left:0;
}



.landing-page .logo{
    text-align:center;
}

.landing-page .subpage-title-area-wrap h1 {
margin-bottom: 0;
}

.landing-page-form h3{
    font-size:24px;
    text-align:center;
    margin:0 0 10px 0;
}

.landing-page .sub-footer-wrap{
    margin:30px 0;
}

.landing-page .landing-page-form {
border: 1px solid #d7d7d7;
padding: 20px 25px 25px ;
background-color: #f6f6f6;
width:30%;

}

.landing-page-left{
    padding-right:3%;
    border-right:1px solid #d7d7d7;
    margin-right:1%;
}

.landing-page-left h3{
    margin-bottom:0;
    margin-top:0;
}

.landing-page-form input[type="text"], .landing-page-form input[type="email"]{
background-color: #fff;
border-radius: 4px;
border: 1px solid #d4d7dd;
margin-bottom: 15px;
padding: 10px;
font-size: 14px;
font-family: 'Conv_Aileron-Regular';
}

.landing-page-form .hs-form .hs-button {
width: 100%;
background-color: #7292da!important;
color: #fff!important;
}

.landing-page .slab-holder{
    display:none !important;
}

@media (max-width: 767px){
.landing-page .landing-page-form {
width: 100%;
}

.landing-page-left {
padding-right: 0;
border-right: 0;
margin-right: 0;
}

.landing-page-form h3 {
font-size: 21px;
}

.landing-page-left img{
    max-width:90%;
}


}




.edge2016 .portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul a:hover{
    background-image: url('//cdn2.hubspot.net/hub/394660/file-1137316529-png/portfolio-active.png?t=1461090016303');
    background-repeat: no-repeat;
    border: transparent 6px solid;
    color: #778e1d;
    background-size: cover;
}
.edge2016 .history-wrap{background-image:url(http://cdn2.hubspot.net/hubfs/394660/numbers-bg-edge.png);}

.numbers-content p{color:#fff;}
.numbers-content{max-width:580px; margin:0 auto!important; float:none!important; margin-top:60px!important;}
.edge2016 .advisory{max-width:920px; margin:0 auto!important; float:none!important;}
.edge2016 .advisory h3{margin-bottom:10px;}
.edge2016 .advisory .widget-type-linked_image img{width:300px!important;}
.edge2016 .header4 h4{color:#778e1d;}
.edge2016 .advisory .header4 h4 {text-align:center; margin-top:60px;}
.edge2016 .check-list li{ margin-top:40px;   font-family: 'Conv_Aileron-BlackItalic'; font-size:13px; display:inline-block; padding-right: 0;     padding: 19px 19px 20px 40px; background-image: url(//cdn2.hubspot.net/hub/394660/file-1126895623-png/checkmark.png?t=1464708502699); background-repeat: no-repeat;}
.edge2016 .check-list{padding:0;}
.edge2016 .vendors {text-align:center; margin-top:60px;}
.edge2016 .vendors img{margin-bottom:60px;}
.edge2016 .network .check-section p{text-align:center; margin:60px 0; font-family: 'Conv_Aileron-Bold'; font-size:20px;}
.edge2016 .network .check-section p img{margin-bottom:10px;}
.edge2016 .network .history-stat {width: 25%!important;}
.edge2016 .network .history-wrap{background:initial;}
.edge2016 .network .history-wrap .stat-subtext{color:#444;}
.edge2016 .blue-cta{text-align:center; margin-top:30px;}
.edge2016 .edison-edge-section{margin:0 auto!important; float:none!important;}
.edge2016 .upcoming-events-wrap .hs_cos_wrapper_type_custom_widget { display: inline-block; width: 24%; text-align: center; margin-top:60px; vertical-align:top;}
.edge2016 .upcoming-events-wrap .hs_cos_wrapper_type_custom_widget a p{color:#778e1d!important;}
.edge2016 .network .history-stat{margin-right:0!important;}
.edge2016 .flelx-logos{text-align:center;}
.edge2016 .flelx-logos span>div{width:30%; margin:0 1.5%; display:inline-block;}



@media (max-width: 767px){
    .edge2016 .portfolio-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    padding: 32px 0 0;
    max-width: 160px;
    width: 85px;
    height: 85px;
    border-radius: 180px;
    font-size: 11px;
    margin-bottom: 0;
    margin-right: 0;
    border: 3px solid #e3e3e3;
}


.edge2016 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
    width: 33.3333333333% !important;
}

.edge2016 .portfolio-menu {
    margin: 0;
}
    .edge2016 .check-list li{width:35%; vertical-align:top;}
    .edge2016 .vendors img{margin-bottom:30px;}
    .edge2016 .edison-edge-quote .widget-type-linked_image{display:none;}
    .edge2016 .edison-edge-quote .hero-quote{margin-top:0;}
    .edge2016 .network .history-stat {width: 100% !important;}
    .edge2016 .ceo-corner{text-align:center;}
    .edge2016 .upcoming-events-wrap .hs_cos_wrapper_type_custom_widget{width:100%;}
    .edge2016 .history-stat br{display:none;}
}








