<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en">        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="{{ site_settings.company_name }}">
    <meta name="description" content="{{ page_meta.meta_description }}">
    <meta name="generator" content="HubSpot">
    <title>{{ page_meta.html_title }}</title>
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    
    {{ standard_header_includes }}
    {% style include_default_custom_css="true" %}

</head>
<body class="about news {{ builtin_body_classes }}" style="">
    <div class="header-container-wrapper">
    <div class="header-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
{% include 'generated_global_groups/1106031841.html' %}
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="subpage-title-area-wrap"><div class="subpage-title-area-wrap-inner"><div class="subpage-title-area-inner">
            <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

                <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                <div class="row-fluid ">
                    <div class="span12 widget-span widget-type-header " style="" data-widget-type="header" data-x="0" data-w="12">
                        <div class="cell-wrapper layout-widget-wrapper">
                            {% header "module_140422406334337115" header_tag='h1', overrideable=True, value='News & Events', label='Page Title' %}
                        </div><!--end layout-widget-wrapper -->
                    </div><!--end widget-span -->
                </div><!--end row-->
                </div><!--end row-wrapper -->
            </div><!--end widget-span -->
            <div class="clearing"></div></div><div class="clearing"></div></div></div>
    </div><!--end row-->
    </div><!--end row-wrapper -->
    <div class="row-fluid-wrapper row-depth-0 row-number-1 ">
    <div class="row-fluid ">
        <div class="dark-wrap"><div class="dark-inner">
        <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

            <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
            <div class="row-fluid ">
                <div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
                    <div class="cell-wrapper layout-widget-wrapper">
                        {% widget_block rich_text "module_140439210555627438" overrideable=True, label='New Module'  %}
                            {% widget_attribute "html" %}<h2 style="text-align: center;">Recent Transactions</h2>{% end_widget_attribute %}
                        {% end_widget_block %}
                    </div><!--end layout-widget-wrapper -->
                </div><!--end widget-span -->
            </div><!--end row-->
            </div><!--end row-wrapper -->
            <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
            <div class="row-fluid ">
                <div class="span4 widget-span widget-type-cell transaction-box" style="" data-widget-type="cell" data-x="0" data-w="4">

                    <div class="row-fluid-wrapper row-depth-2 row-number-1 ">
                    <div class="row-fluid ">
                        <div class="recent-logo-wrap"><div class="recent-logo">
                        <div class="span12 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="12">
                            <div class="cell-wrapper layout-widget-wrapper">
                                {% linked_image "module_140439209120226645" src='http://cdn2.hubspot.net/hub/394660/file-1152775698-jpg/recent-logos_03.jpg', height='45', width='86', link='', wrapping_html='<div class="recent-logo-wrap"><div class="recent-logo">{{ html }}</div></div>', overrideable=True, alt='recent-logos_03.jpg', label='Image', open_in_new_tab=False %}
                            </div><!--end layout-widget-wrapper -->
                        </div><!--end widget-span -->
                        </div></div>
                    </div><!--end row-->
                    </div><!--end row-wrapper -->
                    <div class="row-fluid-wrapper row-depth-2 row-number-2 ">
                    <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
                            <div class="cell-wrapper layout-widget-wrapper">
                                {% widget_block rich_text "module_140439205950824741" overrideable=True, label='New Module'  %}
                                    {% widget_attribute "html" %}<h3>The Edison Edge platform drives shared success</h3>
<p>Etiam vel est non nulla ullamc orper mattis.Pellentesque suscipit porta dolor eget pretium. Integer urna nisl, dictum eget.</p>
<button class="learn-more" type="button">Learn More</button>{% end_widget_attribute %}
                                {% end_widget_block %}
                            </div><!--end layout-widget-wrapper -->
                        </div><!--end widget-span -->
                    </div><!--end row-->
                    </div><!--end row-wrapper -->
                </div><!--end widget-span -->
            <div class="span4 widget-span widget-type-cell transaction-box center-transaction-box" style="" data-widget-type="cell" data-x="4" data-w="4">

                <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
                <div class="row-fluid ">
                    <div class="recent-logo-wrap"><div class="recent-logo">
                    <div class="span12 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="12">
                        <div class="cell-wrapper layout-widget-wrapper">
                            {% linked_image "module_140439209614026913" src='http://cdn2.hubspot.net/hub/394660/file-1152911294-jpg/recent-logos_05.jpg', height='45', width='178', link='', wrapping_html='<div class="recent-logo-wrap"><div class="recent-logo">{{ html }}</div></div>', overrideable=True, alt='recent-logos_05.jpg', label='Image', open_in_new_tab=False %}
                        </div><!--end layout-widget-wrapper -->
                    </div><!--end widget-span -->
                    </div></div>
                </div><!--end row-->
                </div><!--end row-wrapper -->
                <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                <div class="row-fluid ">
                    <div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
                        <div class="cell-wrapper layout-widget-wrapper">
                            {% widget_block rich_text "module_140439207687625303" overrideable=True, label='New Module'  %}
                                {% widget_attribute "html" %}<h3>The Edison Edge platform drives shared success</h3>
<p>Etiam vel est non nulla ullamc orper mattis.Pellentesque suscipit porta dolor eget pretium. Integer urna nisl, dictum eget.</p>
<button class="learn-more" type="button">Learn More</button>{% end_widget_attribute %}
                            {% end_widget_block %}
                        </div><!--end layout-widget-wrapper -->
                    </div><!--end widget-span -->
                </div><!--end row-->
                </div><!--end row-wrapper -->
            </div><!--end widget-span -->
        <div class="span4 widget-span widget-type-cell transaction-box" style="" data-widget-type="cell" data-x="8" data-w="4">

            <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
            <div class="row-fluid ">
                <div class="recent-logo-wrap"><div class="recent-logo">
                <div class="span12 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="12">
                    <div class="cell-wrapper layout-widget-wrapper">
                        {% linked_image "module_140439210037027181" src='http://cdn2.hubspot.net/hub/394660/file-1152911289-jpg/recent-logos_07.jpg', height='45', width='240', link='', wrapping_html='<div class="recent-logo-wrap"><div class="recent-logo">{{ html }}</div></div>', overrideable=True, alt='recent-logos_07.jpg', label='Image', open_in_new_tab=False %}
                    </div><!--end layout-widget-wrapper -->
                </div><!--end widget-span -->
                </div></div>
            </div><!--end row-->
            </div><!--end row-wrapper -->
            <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
            <div class="row-fluid ">
                <div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
                    <div class="cell-wrapper layout-widget-wrapper">
                        {% widget_block rich_text "module_140439208135525934" overrideable=True, label='New Module'  %}
                            {% widget_attribute "html" %}<h3>The Edison Edge platform drives shared success</h3>
<p>Etiam vel est non nulla ullamc orper mattis.Pellentesque suscipit porta dolor eget pretium. Integer urna nisl, dictum eget.</p>
<button class="learn-more" type="button">Learn More</button>{% end_widget_attribute %}
                        {% end_widget_block %}
                    </div><!--end layout-widget-wrapper -->
                </div><!--end widget-span -->
            </div><!--end row-->
            </div><!--end row-wrapper -->
        </div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!--end widget-span -->
<div class="clearing"></div></div><div class="clearing"></div></div></div>
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth--1 row-number-1 ">
<div class="row-fluid ">
<div class="tan-wrap"><div class="tan-inner partner-portfolio-news">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-0 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
    <div class="cell-wrapper layout-widget-wrapper">
        {% raw_html "module_14047636985081911" overrideable=True, value='<div id="cureo-root" data-id="80d3e8be-7abb-4c42-9e4c-f23574a97d56" data-allowfeedback="yes" data-allnewslocation="http://edisonventures.hs-sites.com/edison-news" data-portfolionewslocation="http://edisonventures.hs-sites.com/portfolio-news" data-cssfile="Template5" data-initialpage="TwoColumnNews" data-policylink="../privacy">\n    </div>\n\n<script>\n    (function (e) {\n        var t = function () {\n            setTimeout(function () {\n                if (window.cureoPluginLoader === undefined || t == null)\n                { return } t = null; window.cureoPluginLoader("TwoColumnNews", "cureo-root")\n            }, 0)\n        };\n        var n, r = "cureo-jssdk", i = e.getElementsByTagName("script")[0]; if (!e.getElementById(r)) {\n            n = e.createElement("script"); n.id = r; n.async = true;\n            n.src = "//cureo.com/PluginLoader"; n.onload = n.onreadystatechange = t; i.parentNode.insertBefore(n, i)\n        } else { t() }\n    })(document)\n</script>', label='Cureo Feeds' %}
    </div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!--end widget-span -->
</div></div>
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth--1 row-number-1 ">
<div class="row-fluid ">
<div class="white-wrap"><div class="white-inner upcoming-events">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth--1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
    {% widget_block rich_text "module_140439556976742746" overrideable=True, label='New Module'  %}
        {% widget_attribute "html" %}<h2 style="text-align: center;">Featured Upcoming Events</h2>
<div style="text-align: center;"></div>{% end_widget_attribute %}
    {% end_widget_block %}
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth--1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell upcoming-event" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-0 row-number-1 ">
<div class="row-fluid ">
    <div class="span3 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="3">
        <div class="cell-wrapper layout-widget-wrapper">
            {% linked_image "module_140439587053744925" src='http://cdn2.hubspot.net/hub/394660/file-1158961320-jpg/upcoming-logo_13.jpg', overrideable=True, width='162', link='', alt='upcoming-logo_13.jpg', label='Image', open_in_new_tab=False, height='121' %}
        </div><!--end layout-widget-wrapper -->
    </div><!--end widget-span -->
    <div class="span9 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="3" data-w="9">
        <div class="cell-wrapper layout-widget-wrapper">
            {% widget_block rich_text "module_140439585095144244" overrideable=True, label='New Module'  %}
                {% widget_attribute "html" %}<p>8/5/2014</p>
<h3>Headline Goes Here</h3>
<p>Donec non nulla tincidunt elit sodales dapibus. Maecenas eu elit tortor. Sed dapibus bibendum dui quis vehicula. Sed sodales non risus non rhoncus. Quisque rutrum convallis neque... <a href="#">Continue Reading</a></p>{% end_widget_attribute %}
            {% end_widget_block %}
        </div><!--end layout-widget-wrapper -->
    </div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth--1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell upcoming-event center-upcoming-event" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-0 row-number-1 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="3">
    <div class="cell-wrapper layout-widget-wrapper">
        {% linked_image "module_140439588774346453" src='http://cdn2.hubspot.net/hub/394660/file-1155674301-jpg/upcoming-logo_16.jpg', overrideable=True, width='162', link='', alt='upcoming-logo_16.jpg', label='Image', open_in_new_tab=False, height='121' %}
    </div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span9 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="3" data-w="9">
    <div class="cell-wrapper layout-widget-wrapper">
        {% widget_block rich_text "module_140439587899245800" overrideable=True, label='New Module'  %}
            {% widget_attribute "html" %}<p>8/5/2014</p>
<h3>Headline Goes Here</h3>
<p>Donec non nulla tincidunt elit sodales dapibus. Maecenas eu elit tortor. Sed dapibus bibendum dui quis vehicula. Sed sodales non risus non rhoncus. Quisque rutrum convallis neque... <a href="#">Continue Reading</a></p>{% end_widget_attribute %}
        {% end_widget_block %}
    </div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth--1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell upcoming-event" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth--1 row-number-2 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
    {% linked_image "module_140439590012448019" src='http://cdn2.hubspot.net/hub/394660/file-1158760807-jpg/upcoming-logo_18.jpg', overrideable=True, width='162', link='', alt='upcoming-logo_18.jpg', label='Image', open_in_new_tab=False, height='121' %}
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span9 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="3" data-w="9">
<div class="cell-wrapper layout-widget-wrapper">
    {% widget_block rich_text "module_140439589201247318" overrideable=True, label='New Module'  %}
        {% widget_attribute "html" %}<p>8/5/2014</p>
<h3>Headline Goes Here</h3>
<p>Donec non nulla tincidunt elit sodales dapibus. Maecenas eu elit tortor. Sed dapibus bibendum dui quis vehicula. Sed sodales non risus non rhoncus. Quisque rutrum convallis neque... <a href="#">Continue Reading</a></p>{% end_widget_attribute %}
    {% end_widget_block %}
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth--2 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text upcoming-button" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
{% widget_block rich_text "module_14043982899005890" label='New Module', overrideable=True, wrapping_html=''  %}
{% widget_attribute "html" %}<div style="text-align: center;"><button class="view-upcoming-events" type="button">View All Upcoming Events</button></div>{% end_widget_attribute %}
{% end_widget_block %}
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!--end widget-span -->
</div></div>
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth--3 row-number-1 ">
<div class="row-fluid ">
<div class="dark-wrap"><div class="dark-inner">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth--2 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text blog-feed-title" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
{% widget_block rich_text "module_140439927807612901" label='New Module', overrideable=True, wrapping_html=''  %}
{% widget_attribute "html" %}<div style="text-align: center;"><img src="http://cdn2.hubspot.net/hub/394660/file-1159973300-png/blog-feed-icon.png" alt="blog-feed-icon"></div>
<h2 style="text-align: center;">From Our Blog</h2>{% end_widget_attribute %}
{% end_widget_block %}
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth--2 row-number-2 ">
<div class="row-fluid ">
<div class="span6 widget-span widget-type-rss_listing rss-feed" style="" data-widget-type="rss_listing" data-x="0" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
{% rss_listing "module_140439936534020210" rss_url='', show_date=True, feed_source={rss_url='', is_external=False, content_group_id=None}, wrapping_html='', click_through_text='Continue Reading', publish_date_text='', overrideable=True, publish_date_format='short', show_detail=True, show_author=False, number_of_items='3', is_external=False, title='', content_group_id='788083926', label='RSS Listing', limit_to_chars='200', attribution_text='' %}
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span6 widget-span widget-type-rss_listing hide-rss rss-feed" style="" data-widget-type="rss_listing" data-x="6" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
{% rss_listing "module_140439941736221168" rss_url='', publish_date_text='', feed_source={rss_url='', is_external=False, content_group_id=None}, wrapping_html='', click_through_text='Continue Reading', show_date=True, overrideable=True, publish_date_format='short', show_detail=True, show_author=False, number_of_items='6', is_external=False, title='', content_group_id='788083926', label='RSS Listing', limit_to_chars='200', attribution_text='by' %}
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!--end widget-span -->
</div></div>
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
{% include 'generated_global_groups/1129765197.html' %}
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->

    {{ standard_footer_includes }}
    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->
</body>
</html>
