@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Montserrat:400,700';

/**
 * CSS @imports must be at the top of the file.
 * Add them above this section.
 */



/* ==========================================================================
   HS COS Boilerplate v1.3.0
   ========================================================================== */

/* This responsive framework is required for all styles. */
{% include "hubspot/styles/responsive/required_base.css" %}
{% include "hubspot_default/shared/responsive/theme-foundation-v1-0.css" %}
{% include "hubspot/styles/responsive/hubtheme-modules.css" %}

/* These includes are optional, but helpful. */
{% include "hubspot/styles/patches/recommended.css" %}

/* TYPOGRAPHY */
{% set fontDefault             = "'Roboto', Helvetica, Sans-serif;" %}
{% set fontHeading             = "'Montserrat', Helvetica, Sans-serif" %}

/* SIZING */
{% set maxWidth                = "1100px" %}
{% set defaultSpacing          = "30px" %}

/* COLORS */
{% set colorBody               = "#ffffff" %}
{% set colorText               = "#445863" %}
{% set colorPrimary            = "#f96332" %}

/* HELPERS */
.offset {
  background: {{ colorOffset }};
}
.text-center {
  text-align: center;
}
.spacing {
  padding: 3%;
}

/* GENERAL */
body {
  -webkit-font-smoothing: antialiased;
  background: {{ colorBody }};
  box-shadow: {{ boxShadow }};
  line-height: 1.4;
  font-weight:400;
  color: {{ colorText }};
  font-family: {{ fontDefault }};
}
.container {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 30px;
  max-width: {{ maxWidth }};
  float: none !important;
}

/* TYPOGRAPHY */
a {
  color: {{ colorPrimary }};
  text-decoration:none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: .7rem 0;
}
h3,h4,h5,h6,a {
  font-weight: 900;
  font-family: {{ fontHeading }};
}

/* HERO */
.hero {
  background: {{ colorPrimary }};
  padding: 30px 0 200px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
}
.hero .email {
  text-align: right;
  padding-top: 40px;
}
.hero h1 {
  font-size: 70px;
  line-height: 70px;
  margin-top: 100px;
}
.hero .widget-type-linked_image {
  text-align: right;
}
.hero .widget-type-linked_image img {
  width: 100% !important;
  margin-bottom: 0;
  margin-top: 40px;
}

/* FEATURES */
.features {
  padding-bottom: 50px;
}
.features .container {
  position: relative;
  margin-top: -120px;
  background: #fff;
  padding: 0 50px;
  border-radius: 7px;
}
.features .container:before {
  content: "";
  border-radius: 7px;
  display: block;
  position: absolute;
  height: 250px;
  left: 0;
  right: 0;
  box-shadow: 0 -15px 24px 2px rgba(0, 0, 0, 0.1);
}
.features img {
  margin-top: 50px;
  width: 50px !important;
}
.features h4 {
  color: {{ colorPrimary }};
}

/* COPY */
.copy {
  background: #fcfaf8;
  padding: 50px 0;
}

/* TESTIMONIAL */
.testimonial {
  background: {{ colorPrimary }};
  color: #fff;
  padding: 70px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}
.testimonial i {
  display: block;
  font-size: 50px;
  margin-bottom: 1rem;
}
.testimonial h3 {
  margin-bottom: 0;
}
.testimonial h4 {
  margin-top: 0;
}
.testimonial img {
  width: 100px;
  border-radius: 100px;
  margin-top: 1rem;
}

/* CTA */
.cta {
  padding: 50px 0;
  text-align: center;
}

/* FOOTER */
.footer {
  background: #fcfaf8;
  text-align: center;
  padding: 50px 0;
}

/* RESPONSIVE STYLES */
@media (max-width: 767px) {

}
