/****************************************************************************/
/* This is the default custom CSS file that is included in every template.  */
/* It can be edited, but it cannot be renamed or deleted.                   */
/****************************************************************************/
.row-fluid .span4.profile-wrapper{
    width: 27.423932%
}
.tan-wrap{
    min-height:200px;
}
.article-card{
    background: red!important;
}
